<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/template.xhtml">

    <ui:define name="title">#{msg['label.titulo']}</ui:define>

    <ui:define name="viewname">#{msg['label.vista.formulario']}</ui:define>
    <ui:define name="content">
        <h:form id="frmPais" rendered="false">
            <p:growl id="growl" showDetail="true" sticky="true" showSummary="false" autoUpdate="true"/> 
            <ui:include src="./../secciones/FormularioDetallePracticante.xhtml"/>  
        </h:form>
        <h:form id="frmGrillaDetallePracticante" rendered="false">
            <ui:include src="./../secciones/GrillaDetallePracticante.xhtml" />  
        </h:form>
        <h:form id="frmPracticaEstudiante">
            <p:growl id="growl" showDetail="true" sticky="true" showSummary="false" autoUpdate="true"/> 
            <ui:include src="./../secciones/FormularioPracticaEstudiante.xhtml" />  
        </h:form>
    </ui:define>   

</ui:composition>
