<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/template.xhtml">

    <ui:define name="title"> </ui:define>

    <ui:define name="viewname"> </ui:define>
    
    <ui:define name="content">
        <h:form id="frmFormularioSupervisorEntidad">
            <div class="notas">
                <p><em><strong>Bienvenido. </strong>#{eventoMB.persona.nombres} #{eventoMB.persona.apellidos}</em> </p>
            </div>
            <div class="ui-fluid" style=" text-align: center;">
                <div id="main">
                    <div class="layout-main-content">
                        <ui:include src="../secciones/SeccionPerfilInicio.xhtml"/>
                        <ui:include src="../secciones/MenuSupervisorEntidad.xhtml"/>
                    </div>
                </div>
            </div>
        </h:form>
        
    </ui:define>   

</ui:composition>