<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/template.xhtml">

    <ui:define name="title"></ui:define>

    <ui:define name="content">
        <h:form id="frmFormulario">
            <div class="ui-fluid" style=" text-align: center;">
                <p:growl id="growl" showDetail="true" sticky="true" showSummary="false" />
                <p:panel id="panelLogin" style="text-align: center; display: inline-block">
                    <h:panelGrid  columns="2" columnClasses="p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3" style="margin: 0 auto;"  cellpadding="5" styleClass="showcase-text-align-center">
                        <p:button href="#{loginMB.URL}"  icon="fa fa-th-large" value="#{msg['label.inicio.konradista']}"/>            
                    </h:panelGrid>
                </p:panel>
            </div>
        </h:form>
    </ui:define>
</ui:composition>