<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div id="panDetalleSupEntidad" rendered="#{detalleSupEntidadMB.panDetalleSupEntidad}">
<!--        <p:panelGrid style="float: left">
            <p:commandButton value="Perfil" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;" action="{detalleSupEntidadMB.MenuPostuladosDetalle(1)}" update="formSupervisorEntidad" />
            <c:if test="{detalleSupEntidadMB.btnDetallePostulados}">
                <p:commandButton value="Proceso Selección" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;" action="{detalleSupEntidadMB.MenuPostuladosDetalle(2)}" onclick="{novedadPersonaMB.CrearListaNovedad(detalleSupEntidadMB.detallePracticante.persona.seqPersona)}" update="formSupervisorEntidad"/> 
                <p:commandButton value="Evaluación Desempeño" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;" action="{detalleSupEntidadMB.MenuPostuladosDetalle(3)}" update="formSupervisorEntidad"/>     
            </c:if>
            <c:if test="{detalleSupEntidadMB.btnDetalleAsiganados}">
                <p:commandButton value="Proceso de práctica" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;" action="{detalleSupEntidadMB.MenuPostuladosDetalle(4)}" update="formSupervisorEntidad"/>
                <p:commandButton value="Registro semanal" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;" action="{detalleSupEntidadMB.MenuPostuladosDetalle(5)}" update="formSupervisorEntidad"/> 
                <p:commandButton value="Emitir paz y salvo y carta de referenciación" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;" action="{detalleSupEntidadMB.MenuPostuladosDetalle(6)}" update="formSupervisorEntidad"/> 
            </c:if>
        </p:panelGrid>-->
        <p:panel id="pnFrmPostuladosPerfil" style="width: 100%; border: none;">
            <div>
                <ui:include src="./../secciones/FormularioDetalleSupEntidadMenus.xhtml" />
            </div>
        </p:panel>
    </div>  

</ui:composition>
