<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/template.xhtml">

    <ui:define name="title"> </ui:define>

    <ui:define name="viewname"> </ui:define>

    <ui:define name="content">
        <h:form id="frmFormulario">
            <div class="notas">
                <p><em><strong>Bienvenido. </strong>#{direccionamientoMB.nombrePersona}</em> </p>
            </div>
            <div class="ui-fluid" style=" text-align: center;">
                <p:panel id="panelLogin"   header="#{msg['label.elegirRol']}" style="text-align: center; display: inline-block">
                    <h:panelGrid   columnClasses="p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3, p-col-12 p-md-6 p-lg-3" style="margin: 0 auto;"  cellpadding="5" styleClass="showcase-text-align-center">
                        <p:commandButton action="#{direccionamientoMB.redireccionAdministrador()}" rendered="#{direccionamientoMB.administrador}" value="#{msg['label.administrador']}" update=":frmFormulario"/> 
                        <p:commandButton action="#{direccionamientoMB.redireccionPracticante()}" rendered="#{direccionamientoMB.practicante}"  value="#{msg['label.practicante']}" update=":frmFormulario"/> 
                        <p:commandButton action="#{direccionamientoMB.redireccionAsesor()}" rendered="#{direccionamientoMB.asesorJuridico}"  value="#{msg['label.asesorJuridico']}" update=":frmFormulario"/> 
                        <p:commandButton action="#{direccionamientoMB.redireccionConsejeroAcademico()}" rendered="#{direccionamientoMB.consejeroAcademico}"  value="#{msg['label.consejeroAcademico']}" update=":frmFormulario"/> 
                        <p:commandButton action="#{direccionamientoMB.redireccionCordinadorPracticas()}" rendered="#{direccionamientoMB.cordinadorPracticas}"  value="#{msg['label.cordinadorPracticas']}" update=":frmFormulario"/> 
                        <p:commandButton action="#{direccionamientoMB.redireccionSubEntidad()}" rendered="#{direccionamientoMB.subEntidad}"  value="#{msg['label.subEntidad']}" update=":frmFormulario"/> 
                        <p:commandButton action="#{direccionamientoMB.redireccionSubPractica()}" rendered="#{direccionamientoMB.subPractica}"  value="#{msg['label.subPractica']}" update=":frmFormulario"/> 
                    </h:panelGrid>                               
                </p:panel>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
