<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/template.xhtml">

    <ui:define name="title">#{msg['label.titulo']}</ui:define>

    <ui:define name="viewname">#{msg['label.vista.formulario']}</ui:define>
    <ui:define name="content">
        <p:panel id="panDetalleCoorPracticas" style="border: none;">
           <!-- <h:form id="frmDetalleCoordinadorPracticas" rendered="#{detalleCoorPracticasMB.crear}">
                <p:growl id="growl" showDetail="true" sticky="true" showSummary="false" autoUpdate="true"/> 
                <ui:include src="./../secciones/FormularioDetalleCoorPracticas.xhtml" />  
            </h:form>
            <h:form id="frmGrillaDetalleCoorPracticas" rendered="#{detalleCoorPracticasMB.lista}">
                <ui:include src="./../secciones/GrillaDetalleCoorPracticas.xhtml" />  
            </h:form>-->

            <h:form id="frmDetalleCoordinadorPracticas" >
                <ui:include src="./../secciones/FormularioDetalleCoorPracticas.xhtml" /> 
            </h:form>

        </p:panel> 
    </ui:define>   

</ui:composition>
