<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/template.xhtml">

    <ui:define name="title">#{msg['label.titulo']}</ui:define>

    <ui:define name="viewname">#{msg['label.vista.formulario']}</ui:define>
    <ui:define name="content">
        <p:panel id="panNovedadConvenio">
            <h:form id="frmPais" rendered="#{novedadConvenioMB.crear}">
                <p:growl id="growl" showDetail="true" sticky="true" showSummary="false" autoUpdate="true"/> 
                <ui:include src="./../secciones/FormularioNovedadConvenio.xhtml" />  
            </h:form>
            <h:form id="frmGrillaNovedadConvenio" rendered="#{novedadConvenioMB.lista}">
                <ui:include src="./../secciones/GrillaNovedadConvenio.xhtml" />  
            </h:form>
        </p:panel> 
    </ui:define>   

</ui:composition>
