<<<<<<< HEAD
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/templateMenu.xhtml">

     <ui:define name="title">#{msg['label.titulo']}</ui:define>

    <ui:define name="viewname">#{msg['label.vista.formulario']}</ui:define>
    <ui:define name="content">
        <p:panel id="panGrillaPracticante" style="border: none;">
            <h:form id="frmGrillaPraticante" >
                <ui:include src="./../secciones/GrillaDetallePracticante.xhtml" /> 
            </h:form>

        </p:panel> 
    </ui:define>   

</ui:composition>
=======
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/templateMenu.xhtml">

     <ui:define name="title">#{msg['label.titulo']}</ui:define>

    <ui:define name="viewname">#{msg['label.vista.formulario']}</ui:define>
    <ui:define name="content">
        <p:panel id="panGrillaPracticante" style="border: none;">
            <h:form id="frmGrillaPraticante" >
                <ui:include src="./../secciones/GrillaDetallePracticante.xhtml" /> 
            </h:form>

        </p:panel> 
    </ui:define>   

</ui:composition>
>>>>>>> e5c3a34113663b06b892f9be3fc9b98570290102
