<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:my="http://example.com/jsf">   
    <h:form id="calendarioConstAcademica">
        <p:growl id="messagesCronogramaEvento" showDetail="true" />

        <h:panelGrid columnClasses="value">
            <h3 style="margin-top: 0">Calendario Consejería</h3>
            <p:schedule id="schedule" value="#{eventoMB.model}" timeZone="America/Bogota" widgetVar="myschedule" minTime="#{eventoMB.fechaSistema()}">
                <p:ajax event="dateSelect" listener="#{eventoMB.onDateSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                <p:ajax event="eventSelect" listener="#{eventoMB.onEventSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
            </p:schedule>
        </h:panelGrid>

        <p:dialog  widgetVar="eventDialog" header="Eventos" showEffect="clip" hideEffect="clip" responsive="true" modal="true">
            <h:panelGrid id="eventDetails" columns="2">

                <h:outputLabel for="idTxtObtenerCodigoMostrar" value="Código:" rendered="#{eventoMB.btnMostrarPersonaBuscar}"/>
                <h:panelGrid columns="2" rendered="#{eventoMB.btnMostrarPersonaBuscar}">
                    <p:inputText id="idTxtObtenerCodigoMostrar" value="#{eventoMB.codigo}" style="margin-left: 4.5%;"/>
                    <p:commandButton  icon="fa fa-search" actionListener="#{eventoMB.consultarPracticante(true)}" update="eventDetails" />
                </h:panelGrid> 

                <h:outputLabel for="idTxtObtenerCodigoOcultar" value="Código:" rendered="#{eventoMB.btnOcultarPersonaBuscar}"/>
                <h:panelGrid columns="2" rendered="#{eventoMB.btnOcultarPersonaBuscar}">
                    <p:inputText id="idTxtObtenerCodigoOcultar" value="#{eventoMB.agendaEvento.persona.codigo}" style="margin-left: 4.5%;"/>
                    <p:commandButton style="" icon="fa fa-search" actionListener="#{eventoMB.consultarPracticante(true)}" update="eventDetails" />
                </h:panelGrid>

                <h:outputLabel  value="Estudiante:" rendered="#{eventoMB.btnMostrarPersonaBuscar}"/>
                <p:inputText value="#{eventoMB.practicante.nombres} #{eventoMB.practicante.apellidos}" readonly="true"  rendered="#{eventoMB.btnMostrarPersonaBuscar}" style="margin-left: 5%; width: auto;"/>  

                <h:outputLabel  value="Estudiante:" rendered="#{eventoMB.btnOcultarPersonaBuscar}"/>                          
                <p:inputText value="#{eventoMB.agendaEvento.persona.nombres} #{eventoMB.agendaEvento.persona.apellidos} #{eventoMB.agendaEvento.persona.cedula}" readonly="true" rendered="#{eventoMB.btnOcultarPersonaBuscar}" style="margin-left: 5%; width: auto;"/>

                <p:outputLabel for="idBtnAsusto" value="Asunto:" />
                <p:inputText id="idBtnAsusto" value="#{eventoMB.evento.asunto}"   style="margin-left: 5%;"/>

                <p:outputLabel for="idBtnUbicacion" value="Ubicación:" />
                <p:inputText id="idBtnUbicacion" value="#{eventoMB.evento.ubicacion}"   style="margin-left: 5%;"/>

                <p:outputLabel for="idBtnFechaInicio" value="Fecha Inicio:"/>
                <p:calendar id="idBtnFechaInicio" value="#{eventoMB.event.startDate}" style="margin-left: 5%;" locale="de" navigator="true" pattern="dd/MM/yyyy HH:mm" showOn="button" mindate="#{eventoMB.fechaSistema()}" minHour="#{eventoMB.horaSistema()}" minMinute="#{eventoMB.minutosSistema()}"/>

                <p:outputLabel for="idBtnFechaFin" value="Fecha Fin:" />
                <p:calendar id="idBtnFechaFin" value="#{eventoMB.event.endDate}" style="margin-left: 5%;" locale="de" navigator="true" pattern="dd/MM/yyyy HH:mm" showOn="button" mindate="#{eventoMB.fechaSistema()}" minHour="#{eventoMB.horaSistema()}" minMinute="#{eventoMB.minutosSistema()}"/>   

                <p:outputLabel for="idBtnTipoConsulta" value="Tipo Consulta:" />
                <h:selectOneMenu id="idBtnTipoConsulta" value="#{eventoMB.evento.tipoEvento.seqTipoEvento}"  requiredMessage="Debe Seleccionar un Tipo Evento" style="padding: 5px; font-size: 14px; width:182px; height: 28px; margin-left: 5%;">
                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{eventoMB.evento.tipoEvento.seqTipoEvento}" />
                    <f:selectItems value="#{tipoEventoMB.listTipoEvento}" var ="item" itemLabel="#{item.nombre}" itemValue="#{item.seqTipoEvento}"  />
                </h:selectOneMenu>

                <p:outputLabel for="Estado" value="Estado Evento:" />
                <h:selectOneMenu id="Estado" value="#{eventoMB.agendaEvento.estadoEvento}" style="padding: 5px; font-size: 14px; width:182px; height: 28px; margin-left: 5%;">
                    <f:selectItem itemLabel="Seleccione uno" itemValue="" />
                    <f:selectItem itemLabel="Activo" itemValue="Act" />
                    <f:selectItem itemLabel="Inactivo" itemValue="Inc" />
                </h:selectOneMenu>

                <h:outputLabel  value="Observaciones:"/>
                <p:inputTextarea  rows="5" cols="30"    autoResize="false" value="#{eventoMB.agendaEvento.observacion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>

                <h:panelGrid columns="2" style="margin-left: 90%;" rendered="#{eventoMB.btnOcultarPersonaBuscar}">
                    <p:commandButton id="idBtnGuardarEvent" value="Guardar" actionListener="#{eventoMB.addEvent}"  update="eventDetails" process="@form"/>
                    <p:commandButton id="idBtnBorrarEvent" value="Eliminar"  actionListener="#{eventoMB.onBorrar}"  oncomplete="PF('myschedule').update();PF('eventDialog').hide();" rendered="#{eventoMB.btnEliminar}"  />       
                </h:panelGrid>

                <h:panelGrid columns="2" style="margin-left: 100%;" rendered="#{eventoMB.btnMostrarPersonaBuscar}">
                    <p:commandButton id="idBtnGuardarEventMostrar" value="Guardar" actionListener="#{eventoMB.addEvent}"  update="eventDetails" process="@form"/>  
                </h:panelGrid>
            </h:panelGrid>
        </p:dialog>   
    </h:form>
</ui:composition>    

