<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">    
    <h:form>
        <p:growl id="messagesCronogramaEvento" showDetail="true" />

        <h:panelGrid columnClasses="value">
            <h3 style="margin-top: 0">Editable Schedule</h3>
            <p:schedule id="schedule" value="#{eventoMB.model}" timeZone="America/Bogota" widgetVar="myschedule" minTime="#{eventoMB.fechaSistema()}">

                <p:ajax event="dateSelect" listener="#{eventoMB.onDateSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                <p:ajax event="eventSelect" listener="#{eventoMB.onEventSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />

            </p:schedule>

        </h:panelGrid>


        <p:dialog widgetVar="eventDialog" header="Event Details" showEffect="clip" hideEffect="clip" responsive="true" modal="true">
            <h:panelGrid id="eventDetails" columns="1">
                <p:outputLabel for="idBtnAsunto" value="Asunto:" />
                <p:inputText id="idBtnAsunto" value="#{eventoMB.evento.asunto}" required="true" requiredMessage="Debe llenar el campo"/>
                <h:message for="idBtnAsunto" style="color:red" />

                <p:outputLabel for="idBtnUbicacion" value="Ubicacion:" />
                <h:inputText id="idBtnUbicacion" value="#{eventoMB.evento.ubicacion}" required="true" requiredMessage="Debe llenar el campo"/>
                <h:message for="idBtnUbicacion" style="color:red" />

                <p:outputLabel for="idBtnFechaInicio" value="Fecha Inicio:"/>
                <p:calendar id="idBtnFechaInicio" value="#{eventoMB.event.startDate}"  pattern="dd/MM/yyyy HH:mm" mindate="#{eventoMB.fechaSistema()}" minHour="#{eventoMB.horaSistema()}" minMinute="#{eventoMB.minutosSistema()}"  required="true" requiredMessage="Debe llenar el formato"/>


                <p:outputLabel for="idBtnFechaFin" value="Fecha Fin:" />
                <p:calendar id="idBtnFechaFin" value="#{eventoMB.event.endDate}"  pattern="dd/MM/yyyy HH:mm" mindate="#{eventoMB.fechaSistema()}" minHour="#{eventoMB.horaSistema()}" minMinute="#{eventoMB.minutosSistema()}"  required="true" requiredMessage="Debe llenar el formato"/>


                <p:outputLabel for="idBtnTipoEvento" value="Tipo Evento:" />
                <p:selectOneMenu id="idBtnTipoEvento" value="#{eventoMB.evento.tipoEvento.seqTipoEvento}" required="true" requiredMessage="Debe Seleccionar un Tipo Evento">
                    <f:selectItem itemLabel="Select One" itemValue="" />
                    <f:selectItems value="#{tipoEventoMB.listTipoEvento}" var ="item" itemLabel="#{item.nombre}" itemValue="#{item.seqTipoEvento}"  />
                </p:selectOneMenu>
                <h:message for="idBtnTipoEvento" style="color:red" />

                <p:commandButton id="idBtnGuardarEvent" value="Guardar" actionListener="#{eventoMB.addEvent}"  update="eventDetails" process="@form" />
                <p:commandButton id="idBtnNBorrarEvent" value="Eliminar" actionListener="#{eventoMB.onBorrar()}"  oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
            </h:panelGrid>
        </p:dialog>   
    </h:form>
</ui:composition>