<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div id="divPrincipalTipoIdentificacion" class="ui-g">
        <div class="ui-g-3"></div>
        <div class="ui-g-6">
            <br/>
            <br/>
            <p:panel style="background: whitesmoke;margin-bottom: 10%" >
                <br/><br/>

                <p:outputLabel value="#{msg['label.TipoIdentificacion.codigo']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{tipoIdentificacionMB.tipoIdentificacion.codigo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" required="true" requiredMessage="Debe llenar el campo"/>
                <br/>

                <p:outputLabel value="#{msg['label.TipoIdentificacion.identificacion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{tipoIdentificacionMB.tipoIdentificacion.identificacion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" required="true" requiredMessage="Debe llenar el campo"/>
                <br/>

                <p:outputLabel value="#{msg['label.TipoIdentificacion.descripcion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{tipoIdentificacionMB.tipoIdentificacion.descripcion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" required="true" requiredMessage="Debe llenar el campo"/>
                <br/>


                <p:commandButton rendered="#{tipoIdentificacionMB.botonDesabilidar}" id="idBtnGuardarTipoIdentificacion" actionListener="#{tipoIdentificacionMB.onGuardarRegistro()}" value="#{msg['label.botonGuardar']}" icon="fa fa-save" update="panTipoIdentificacion" style="margin-left: 40%;"/>
                <p:commandButton rendered="#{tipoIdentificacionMB.botonHabilitar}" id="idBtnActualizarTipoIdentificacion" actionListener="#{tipoIdentificacionMB.onActulizarRegistro()}" value="Actualizar" icon="fa fa-save" update="panTipoIdentificacion" style="margin-left: 40%;"/>
                <p:commandButton   id="idBtnCancelarTipoIdentificacion" value="#{msg['label.botonCancelar']}" icon="fa fa-undo" actionListener="#{tipoIdentificacionMB.onCancelar()}"  update="panTipoIdentificacion" immediate="true" /> 
            </p:panel>
        </div>
        <div class="ui-g-3"></div>
    </div>
</ui:composition>