<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <br/>
            <br/>
            <p:panel id="pnFormularioSesionConsejeria" style="background: whitesmoke;margin-bottom: 10%; width: 100%;" >
                <br/>
                <h:panelGrid style="margin-left: 2.5%; width: 95%;" columns="2">
                    <h:column>
                        <p:outputLabel value="#{msg['label.SesionConsejeria.datSesion']} " style="font-size: 15px;margin-left: 5%;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>      
                        <p:calendar value="#{eventoMB.sesionConsejeria.datSesion}" showOn="button" locale="de" mindate="#{eventoMB.fechaSistema()}" navigator="true" pattern="dd/MM/yyyy" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    </h:column>
                    <h:column>
                        <p:outputLabel for="idTxtObtenerCodigoOcultar" value="Codigo:" style="font-size: 15px;margin-left:5%;"/> 
                        <p:inputText id="idTxtObtenerCodigoOcultar" value="#{eventoMB.codigoRegistroSesion}" style="border-top:none;border-left:none;border-right:none;width:30%;margin-left: 2%; width: auto;"/>
                        <p:commandButton id="btnBuscarCodigo" actionListener="#{eventoMB.consultarPracticante(false)}" update="pnFormularioSesionConsejeria" style="margin-left: 3%;" icon="fa fa-search"/>   
                    </h:column> 
                </h:panelGrid>
                <br/>
                <h:panelGrid style="width: 95%;" columns="1">
                    <p:column>
                        <p:outputLabel  value="Estudiante:" style="font-size: 15px;margin-left: 5%;"/>  
                        <p:inputText value="#{eventoMB.practicante.nombres} #{eventoMB.practicante.apellidos} #{eventoMB.practicante.cedula}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    </p:column>                                       
                </h:panelGrid>
                <br/>
                <h:panelGrid style="width: 90%;" columns="1">
                    <p:column>
                        <p:outputLabel value="#{msg['label.SesionConsejeria.tipoConsulta']} " style="font-size: 15px;margin-left: 5%;"/>          
                        <h:selectOneMenu id="idBtnTipoConsulta" value="#{eventoMB.sesionConsejeria.tipoConsulta.nombre}"  requiredMessage="Debe Seleccionar un Tipo Evento" style="padding: 5px; font-size: 14px; width:182px; height: 28px; margin-left: 5%;">
                            <f:selectItem itemLabel="Seleccione uno" itemValue="#{eventoMB.sesionConsejeria.tipoConsulta.nombre}" />
                            <f:selectItems value="#{tipoEventoMB.listTipoEvento}" var ="item" itemLabel="#{item.nombre}" itemValue="#{item.nombre}"  />
                        </h:selectOneMenu> 
                    </p:column>
                    <br/>
                    <p:column>
                        <p:outputLabel value="Asunto:" style="font-size: 15px;margin-left: 5%;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>          
                        <p:inputText value="#{eventoMB.sesionConsejeria.nombreSesion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    </p:column>
                    <br/>
                    <p:column>
                        <p:outputLabel value="#{msg['label.SesionConsejeria.descripcionSesion']} " style="font-size: 15px;margin-left: 5%;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                        <p:inputTextarea  rows="5" cols="30"    autoResize="false" value="#{eventoMB.sesionConsejeria.descripcionSesion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    </p:column>
                    <br/>
                    <p:column>
                        <h:panelGrid columns="2" style="font-size: 15px;margin-left: 5%;" cellpadding="5">
                            <p:outputLabel for="asistencia"  value="#{msg['label.SesionConsejeria.asistencia']} " />
                            <p:selectOneRadio id="asistencia" value="#{eventoMB.sesionConsejeria.asistencia}" >
                                <f:selectItem itemLabel="Si" itemValue="Si" />
                                <f:selectItem itemLabel="No" itemValue="No" />
                            </p:selectOneRadio>
                        </h:panelGrid>
                    </p:column>
                </h:panelGrid>
                <h:panelGrid columns="1" style="text-align: center; width: 100%;">
                    <p:commandButton id="idbtnGuardarSesionConsejeria"  actionListener="#{eventoMB.onGuardarRegistroSesionConsejeria()}" value="#{msg['label.botonGuardar']}" icon="fa fa-save" update="formSesionConsejeria"/>
                </h:panelGrid>
            </p:panel>
        </div>
        <div class="ui-g-1"></div>
    </div>
</ui:composition>