<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g"> 

        <div class="ui-g-1"></div> 

        <div class="ui-g-10">
            <br/>
            <p:panel id="pnRegistroEstudiante" style="background: whitesmoke;width: 100%;" rendered="#{detalleCoorPracticasMB.pnEstudianteRegistro}">

                <p:outputLabel value="Código: " style="font-size: 15px;margin-left:5%; margin-top: 5%;"/>

                <p:inputText value="#{detalleCoorPracticasMB.codigo}"  
                             style="border-top:none;border-left:none;border-right:none;width:30%;margin-left: 2%;margin-top: 5%;"/>

                <p:commandButton value="Validar" style="margin-left: 3%; margin-top: 5%;" icon="fa fa-check-square-o" actionListener="#{detalleCoorPracticasMB.consultarPracticante()}" 
                                 update="formCoordinadorPrac,pnRegistroEstudiante" />

                <p:commandButton value="Limpiar"  icon="fa fa-eraser" style="margin-left: 3%; margin-top: 5%;" actionListener="#{detalleCoorPracticasMB.limpiarBusqueda()}" 
                                 update="formCoordinadorPrac,pnRegistroEstudiante" />
                <br/><br/>
                <br/><br/>
                <p:outputLabel value="#{msg['label.DetallePracticante.persona.nombres']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:18px;margin-top:10%;"/>
                <p:inputText value="#{detalleCoorPracticasMB.practicante.nombres}" 
                             style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:70%;margin-bottom:5%;margin-left:1%;background: whitesmoke"/>
                <br/>
                <p:outputLabel value="#{msg['label.DetallePracticante.persona.apellidos']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:18px;margin-top:10%;"/>
                <p:inputText value="#{detalleCoorPracticasMB.practicante.apellidos}" 
                             style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:70%;margin-bottom:5%;margin-left:1%;background: whitesmoke"/>
                <br/>
                <p:outputLabel value="#{msg['label.DetallePracticante.tipoDocumento.seqTipoIdentificacion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;"/>
                <br/>
                <p:selectOneMenu  id="listTipDocIdentidad" style="width:50%;color:#5f666c;margin-left: 5%;"   
                                  value="#{detalleCoorPracticasMB.practicante.tipoIdentificacion.seqTipoIdentificacion}" filter="true" filterMatchMode="contains"> 
                    <f:selectItem/>
                    <f:selectItems value="#{detalleCoorPracticasMB.listaTipoIdenticacion}" var="ti" itemValue="#{ti.seqTipoIdentificacion}" itemLabel="#{ti.identificacion}" />  
                </p:selectOneMenu>
                <br/>
                <br/>
                <p:outputLabel value="#{msg['label.DetallePracticante.persona.lugarExpedicion']} " style="font-size: 15px;margin-left: 5%;margin-top: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;"/>
                <br/>
                <p:selectOneMenu  id="listCiudad" style="width:50%;color:#5f666c;margin-left:5%;"   
                                  value="#{detalleCoorPracticasMB.practicante.lugarExpedicion}" filter="true" filterMatchMode="contains"> 
                    <f:selectItem/>
                    <f:selectItems value="#{detalleCoorPracticasMB.listaCiudad}" var="c" itemValue="#{c.seqCiudad}" itemLabel="#{c.ciudad}" />  
                </p:selectOneMenu>
                <br/>
                <br/>    
                <p:outputLabel value="#{msg['label.DetallePracticante.persona.codigo']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{detalleCoorPracticasMB.practicante.codigo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.DetallePracticante.persona.correoInstiCorp']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{detalleCoorPracticasMB.practicante.correoInstiCorp}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.DetallePracticante.persona.correoAlternativo']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{detalleCoorPracticasMB.practicante.correoAlternativo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                    <h:column>
                        <p:outputLabel value="#{msg['label.DetallePracticante.persona.telefono']} " style="font-size: 15px;"/>
                        <br/>
                        <p:inputText value="#{detalleCoorPracticasMB.practicante.telefono}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                    </h:column>
                    <h:column>
                        <p:outputLabel value="#{msg['label.DetallePracticante.persona.celular']} " style="font-size: 15px;"/>           
                        <br/>
                        <p:inputText value="#{detalleCoorPracticasMB.practicante.celular}" 
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                    </h:column>
                </h:panelGrid>
                <br/>
                <p:outputLabel value="#{msg['label.DetallePracticante.persona.direccion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{detalleCoorPracticasMB.practicante.direccion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>         
                <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                    <h:column>
                        <p:outputLabel value="#{msg['label.DetallePracticante.areaEscolaris.seqProgramaEscolaris']} " style="font-size: 15px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                        <br/>
                        <p:selectOneMenu id="listaProgramasEscolaris" style="width:85%;color:#5f666c;"   
                                         value="#{detalleCoorPracticasMB.practicante.seqPrograma}" 
                                         filter="true" filterMatchMode="contains"> 
                            <f:selectItem/>
                            <f:selectItems value="#{detalleCoorPracticasMB.listProgramaEscolaris}" var="p" itemValue="#{p.seqPrograma}" itemLabel="#{p.programa}" />  
                        </p:selectOneMenu>
                    </h:column>
                    <h:column>
                        <p:outputLabel value="#{msg['label.DetallePracticante.semestre']} " style="font-size: 15px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;"/>
                        <br/>
                        <p:selectOneMenu  id="listSemestre" style="width:85%;color:#5f666c;;"   
                                          value="#{detalleCoorPracticasMB.practicante.semestre}"
                                          filter="true" filterMatchMode="contains"> 
                            <f:selectItem/>
                            <f:selectItem itemLabel="#{msg['label.primero']}" itemValue="1"  /> 
                            <f:selectItem itemLabel="#{msg['label.segundo']}" itemValue="2"  /> 
                            <f:selectItem itemLabel="#{msg['label.tercero']}" itemValue="3"  /> 
                            <f:selectItem itemLabel="#{msg['label.cuarto']}" itemValue="4"  /> 
                            <f:selectItem itemLabel="#{msg['label.quinto']}" itemValue="5"  /> 
                            <f:selectItem itemLabel="#{msg['label.sexto']}" itemValue="6"  /> 
                            <f:selectItem itemLabel="#{msg['label.septimo']}" itemValue="7"  /> 
                            <f:selectItem itemLabel="#{msg['label.octavo']}" itemValue="8"  /> 
                            <f:selectItem itemLabel="#{msg['label.noveno']}" itemValue="9"  /> 
                            <f:selectItem itemLabel="#{msg['label.decimo']}" itemValue="10"  />  
                        </p:selectOneMenu>
                    </h:column>
                </h:panelGrid> 
                <br/>
                <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                    <h:column>
                        <p:outputLabel value="#{msg['label.DetallePracticante.persona.datVigenciaDesde']} " style="font-size: 15px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                        <br/>
                        <p:calendar value="#{detalleCoorPracticasMB.practicante.datVigenciaDesde}" showOn="button"
                                    style="border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                    </h:column>
                    <h:column>
                        <p:outputLabel value="#{msg['label.DetallePracticante.persona.datVigenciaHasta']} " style="font-size: 15px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                        <br/>
                        <p:calendar value="#{detalleCoorPracticasMB.practicante.datVigenciaHasta}" showOn="button"
                                    style="border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                    </h:column>
                </h:panelGrid>
                <br/> 
                <p:outputLabel value="#{msg['label.DetallePracticante.eps.eps']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:selectOneMenu  id="listaEPS" style="width:85%;color:#5f666c;margin-left: 5%;"   
                                  value="#{detalleCoorPracticasMB.detallePracticante.eps.seqEps}" filter="true" filterMatchMode="contains"> 
                    <f:selectItem/>
                    <f:selectItems value="#{detalleCoorPracticasMB.listaEPS}" var="e" itemValue="#{e.seqEps}" itemLabel="#{e.eps}" />  
                </p:selectOneMenu>
                <br/><br/>
                <h:panelGrid columns="3" style="width: 90%;margin-left: 5%;">
                    <h:column>
                        <p:outputLabel value="#{msg['label.DetallePracticante.estadoPractica']} " style="font-size: 15px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                        <br/>           
                        <p:selectOneMenu  id="listaEstadoPrac" style="width:70%;color:#5f666c;"   
                                          value="#{detalleCoorPracticasMB.detallePracticante.estadoPractica}"
                                          filter="true" filterMatchMode="contains"> 
                            <f:selectItem/>
                            <f:selectItem itemLabel="Deshabilitado" itemValue="0"  /> 
                            <f:selectItem itemLabel="Nivelado" itemValue="1"  />
                            <f:selectItem itemLabel="Inscrito" itemValue="2"  />
                            <f:selectItem itemLabel="Aceptado" itemValue="3"  />
                            <f:selectItem itemLabel="Rechazado" itemValue="4"  />
                        </p:selectOneMenu>
                    </h:column>
                    <h:column>
                        <p:outputLabel value="#{msg['label.DetallePracticante.estadoHabilitar']} " style="font-size: 15px;margin-left: 5%;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                        <br/> 
                        <p:selectOneMenu  id="listaEstadoHabilitar" style="width:70%;color:#5f666c;margin-left: 5%;"   
                                          value="#{detalleCoorPracticasMB.detallePracticante.estadoHabilitar}" filter="true" filterMatchMode="contains"> 
                            <f:selectItem/>
                            <f:selectItem itemLabel="Habilitar" itemValue="0"  /> 
                            <f:selectItem itemLabel="Inhabilitar" itemValue="1"  /> 
                        </p:selectOneMenu>
                    </h:column>
                    <h:column>
                        <p:outputLabel value="#{msg['label.DetallePracticante.estadoBloquear']} " style="font-size: 15px;margin-left: 5%;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                        <br/>           
                        <p:selectOneMenu  id="listaEstadoBloquear" style="width:70%;color:#5f666c;margin-left: 5%;"   
                                          value="#{detalleCoorPracticasMB.detallePracticante.estadoBloquear}" filter="true" filterMatchMode="contains"> 
                            <f:selectItem/>
                            <f:selectItem itemLabel="Bloquear" itemValue="0"  /> 
                            <f:selectItem itemLabel="Desbloquear" itemValue="1"  /> 
                        </p:selectOneMenu>
                    </h:column>
                </h:panelGrid>                
                <br/>
                <h:panelGrid columns="2" style="width: 90%;margin-left: 5%;">
                    <h:column>
                        <p:outputLabel value="#{msg['label.DetallePracticante.datPracticaDesde']} " style="font-size: 15px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                        <br/>           
                        <p:calendar id="calDatPracticaDesde" value="#{detalleCoorPracticasMB.detallePracticante.datPracticaDesde}" showOn="button" />
                        <br/>
                    </h:column>
                    <h:column>
                        <p:outputLabel value="#{msg['label.DetallePracticante.datPracticaHasta']} " style="font-size: 15px;margin-left: 5%;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                        <br/>           
                        <p:calendar id="calDatPracticaHasta" value="#{detalleCoorPracticasMB.detallePracticante.datPracticaHasta}" showOn="button" />
                        <br/>
                    </h:column>
                </h:panelGrid>
                <br/>
                <p:outputLabel value="#{msg['label.DetallePracticante.observaciones']} " style="font-size: 15px;margin-left: 5%;"/>
                <br/>           
                <p:inputTextarea rows="5" cols="78" value="#{detalleCoorPracticasMB.detallePracticante.observaciones}" 
                                 queryDelay="750" minQueryLength="4" style="margin-left: 5%;" autoResize="false"/>
                <br/>
                <br/>
                <div class="ui-g" style="margin-top: 5%;margin-bottom: 5%;">
                    <div class="ui-g-6" align="right">
                        <p:commandButton id="btGuardarPracticante"  value="#{msg['label.botonGuardar']}" 
                                         icon="fa fa-save" style="width:40%;" actionListener="#{detalleCoorPracticasMB.registrarPracticante()}" 
                                         update="formCoordinadorPrac,pnRegistroEstudiante"/>
                    </div>
                    <div class="ui-g-6" align="left">
                        <p:commandButton  id="btCancelarPracticante" value="#{msg['label.botonCancelar']}" icon="fa fa-undo"   
                                          update="formCoordinadorPrac" immediate="true" style="width: 40%;" actionListener="#{detalleCoorPracticasMB.opcionSubMenu(1)}"/> 
                    </div>
                </div>

            </p:panel>


        </div>
        <div class="ui-g-1"></div> 


    </div>
</ui:composition>
