<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-3"></div>
        <div class="ui-g-6">
            <br/>
            <br/>
            <p:panel style="background: whitesmoke;margin-bottom: 10%" >
                <br/><br/>

                <p:outputLabel value="#{msg['label.IndicadorGestion.codigo']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{indicadorGestionMB.indicadorGestion.codigo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>

                <p:outputLabel value="#{msg['label.IndicadorGestion.indicador']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{indicadorGestionMB.indicadorGestion.indicador}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>

                <p:outputLabel value="#{msg['label.IndicadorGestion.descripcion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{indicadorGestionMB.indicadorGestion.descripcion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>

                <p:outputLabel value="#{msg['label.IndicadorGestion.estadoVisible']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{indicadorGestionMB.indicadorGestion.estadoVisible}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>


                <p:commandButton rendered="#{indicadorGestionMB.botonDesabilidar}" id="idBtnGuardarIndicadoresGestion" actionListener="#{indicadorGestionMB.onGuardarRegistro()}" value="#{msg['label.botonGuardar']}" icon="fa fa-save" update="panIndicadorGestion" style="margin-left: 40%;"/>
                <p:commandButton rendered="#{indicadorGestionMB.botonHabilitar}"  id="idBtnActualizarFrmIndicadoresGestion" actionListener="#{indicadorGestionMB.onActulizarRegistro()}" value="Actualizar" icon="fa fa-save" update="panIndicadorGestion" style="margin-left: 40%;"/>
                <p:commandButton   id="idBtnCancelarIndicadoresGestion" value="#{msg['label.botonCancelar']}" icon="fa fa-undo" actionListener="#{indicadorGestionMB.onCancelar()}"  update="panIndicadorGestion" immediate="true" /> 
            </p:panel>
        </div>
        <div class="ui-g-3"></div>
    </div>
</ui:composition>