<ui:composition     
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:my="http://example.com/jsf">
    <h:form id="formSesionConsejeria">
        <p:growl id="msgs" showDetail="true" />
<!--        <div align="right">
            <p:commandButton value="{msg['label.Salir']}" icon="fa fa-sign-out" 
                             immediate="true" style="margin-top:1%;font-size: 15px; text-decoration: underline;" />
            
        </div>-->
        <div class="ui-g-12">
            <p:panel id="datosPersonales" header="Centro de Consejeria Academica" toggleable="true" toggleSpeed="500" widgetVar="panel" 
                     style="margin-top: 2%;background: whitesmoke;border-style: hidden" rendered="#{eventoMB.varPanelEditarPerfil}">

                <p:ajax event="toggle" listener="#{panelView.onToggle}" update="msgs" />
                <div class="ui-g">
                    <div class="ui-g-2">
                        <p:graphicImage name="images/perfil_blanco.jpg"  width="150" height="150" style="margin-top: 5%;"/>
                        <p:commandButton value="Editar" style="width: 150px; height: 25px;font-size: 16px;" rendered="#{eventoMB.varPanelEditarPerfil}"/>
                    </div>
                    <div class="ui-g-10" style="margin-top: 1%; margin-bottom: 1%; background: white" >
                        <div class="ui-g">
                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.nombre']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-8">
                                <p:inputText value="#{eventoMB.persona.nombres} #{eventoMB.persona.apellidos}" 
                                             style="border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"/>
                            </div>

                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cedula']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-2" >
                                <p:inputText value="#{eventoMB.persona.cedula}" 
                                             style="border-top:none;border-left:none;border-right:none;width:140%;" readonly="true"/>
                            </div>
                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.lugarExpedicion']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-3">
                                <p:inputText value="#{eventoMB.persona.lugarExpedicion}" 
                                             style="border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"/>  
                            </div>
                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cargo']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-2">
                                <p:inputText value="#{eventoMB.persona.cargo}" 
                                             style="border-top:none;border-left:none;border-right:none;width:140%;" readonly="true"/>
                            </div>
                            <br/>           
                        </div>
                    </div> 
                </div>
                <f:facet name="options">
                    <p:menu>
                        <p:submenu>
                            <p:menuitem value="Editar información" icon="fa fa-edit" action="#{eventoMB.Menu(1)}" 
                                        update="formSesionConsejeria" immediate="true" rendered="#{!eventoMB.varPanelEditarInf}"/>
                            <p:menuitem value="Inicio" icon="fa fa-home" action="#{eventoMB.Menu(2)}" update="formSesionConsejeria" immediate="true"  />
                        </p:submenu>
                    </p:menu>
                </f:facet>
            </p:panel>
        </div>
        <p:separator style="background: #a8acb1;height:3px;margin-top:2%;margin-left:20px; margin-right:20px" />  
        <div class="ui-g">
            <div class="ui-g-2"></div>
            <div class="ui-g-8">
                <br/>
                <br/>
                <p:panel id="infPersonalCoordinador" style="background: whitesmoke;margin-bottom: 10%" rendered="#{eventoMB.varPanelEditarInf}">
                    <br/><br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.nombres']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{eventoMB.persona.nombres}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.apellidos']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{eventoMB.persona.apellidos}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>

                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cedula']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{eventoMB.persona.cedula}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.lugarExpedicion']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{eventoMB.persona.lugarExpedicion}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cargo']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{eventoMB.persona.cargo}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.codigo']} " style="font-size: 15px;"/>             
                            <br/>
                            <p:inputText value="#{eventoMB.persona.codigo}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.correoInstiCorp']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{eventoMB.persona.correoInstiCorp}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.correoAlternativo']} " style="font-size: 15px;margin-left: 5%;"/>
                    <br/>
                    <p:inputText value="#{eventoMB.persona.correoAlternativo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.telefono']} " style="font-size: 15px;"/>
                            <br/>
                            <p:inputText value="#{eventoMB.persona.telefono}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.celular']} " style="font-size: 15px;"/>           
                            <br/>
                            <p:inputText value="#{eventoMB.persona.celular}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.direccion']} " style="font-size: 15px;margin-left: 5%;"/>
                    <br/>
                    <p:inputText value="#{eventoMB.persona.direccion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.datVigencia']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{eventoMB.persona.datVigenciaDesde}"
                                 style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left:5%;" readonly="true"/>
                    <br/>
                    <div class="ui-g" style="margin-top: 5%;margin-bottom: 5%;">
                        <div class="ui-g-6" align="right">
                            <p:commandButton id="btGuardarCoordinador" actionListener="#{eventoMB.ActualizacionDatosPerfil()}" value="#{msg['label.botonGuardar']}" 
                                             icon="fa fa-save" style="width:40%;" update="formSesionConsejeria"/>
                        </div>
                        <div class="ui-g-6" align="left">
                            <p:commandButton  id="btCancelar" value="#{msg['label.botonCancelar']}" icon="fa fa-undo" action="#{eventoMB.Menu(2)}"  
                                              update="formSesionConsejeria" immediate="true" style="width: 40%;"/> 
                        </div>
                    </div>
                </p:panel>
            </div>
            <div class="ui-g-2"></div>
        </div>

        <div class="ui-g">
            <div class="ui-g-3">
                <p:panel style="width: 100%;background: whitesmoke" rendered="#{eventoMB.varPanelOpcionesMenu}">

                    <!--MENU ESTUDIANTE-->
                    <div class="ui-g">
                        <div class="ui-g-1" > 
                            <p:graphicImage name="images/imgEstudiante.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Estudiantes" action="#{eventoMB.Menu(3)}" update="formSesionConsejeria" 
                                             style="font-size: 16px;font-weight: bold;width: 100%; height: 100%; text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>

                    <!--MENU SESION CONSEJERIA-->
                    <div class="ui-g">
                        <div class="ui-g-1"> 
                            <p:graphicImage name="images/imgSupervisor.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Registrar Cita" action="#{eventoMB.Menu(4)}" update="formSesionConsejeria" 
                                             style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>

                    <!--MENU NOTIFICACIONES-->
                    <div class="ui-g">
                        <div class="ui-g-1" > 
                            <p:graphicImage name="images/imgConvenio.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Notificaciones" action="#{eventoMB.Menu(5)}" update="formSesionConsejeria" 
                                             style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>

                </p:panel>
            </div>
            <div class="ui-g-12"  style="padding: 0px;">
                <p:panel  style="width: 100%; border: 0px;">                   
                    <ui:include src="./../secciones/FormularioDetalleConsAcademicaMenus.xhtml"  />                       
                </p:panel>
            </div>
        </div>
    </h:form>
</ui:composition>
