<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:tabView rendered="#{detalleSupEntidadMB.btnDetallePostulados}">
        <div class="ui-g">
            <!--        <div class="ui-g-1"></div>-->
            <div class="ui-g-12">
                <!--            PANEL PRINCIPAL PERFIL-->
                <!-- ###########SUB MENU POSTULADOS############### -->
                <p:tab title="Perfil Estudiante">
                    <ui:include src="MenuDetalleSupEntidad.xhtml"  /> 
                    <!--rendered="{detalleSupEntidadMB.menuPostuladosPerfil}"!-->
                    <h:panelGrid  style="float: left; width: 100%;" columns="1">
                        <div class="ui-g" >
                            <div class="ui-g-12">
                                <p:graphicImage name="images/perfil_blanco.jpg"  width="80" height="80"/>   
                            </div> 
                        </div>
                    </h:panelGrid>
                    <h:panelGrid style="background: whitesmoke; width: 100%; margin-bottom: 10%;" columns="2">
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.nombres']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.nombres}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>

                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.apellidos']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.apellidos}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>

                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.cedula']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.cedula}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.lugarExpedicion']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.lugarExpedicion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.codigo']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.codigo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.cargo']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.cargo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.correoInstiCorp']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.correoInstiCorp}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.correoAlternativo']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.correoAlternativo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.telefono']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.telefono}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.celular']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.celular}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.direccion']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.direccion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.areaEscolaris.seqProgramaEscolaris']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.areaEscolaris.programaEscolaris.programa}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.eps.eps']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.eps.eps}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.semestre']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.semestre}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.estadoPractica']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                            <p:inputText value="#{detalleSupEntidadMB.detallePracticante.estadoPractica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{msg['label.descargar.hojaDeVida']}: " style="font-size: 15px;margin-left: 5%;"/>
                            <p:commandButton value="#{msg['label.boton.descargar.hojaDeVida']}" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;"/>
                        </p:column>
                    </h:panelGrid>
                </p:tab>


                <!--            PARTE POSTULADOS PROCESO-->
                <p:tab title="Proceso Selección" >
                    <ui:include src="MenuDetalleSupEntidad.xhtml"  /> 
                    <br/>
                    <br/>
                    <p:panel style=" border: none; background-color: whitesmoke;" >
                        <h:panelGrid  style="background: whitesmoke;margin-bottom: 10%; width: 100%;" columns="1" onclick="#{novedadPersonaMB.CrearListaNovedad(detalleSupEntidadMB.detallePracticante.persona.seqPersona)} #{novedadPersonaMB.setObservacionesAdicionales('')}" ><!-- rendered="{detalleSupEntidadMB.menuPostuladosProcesos}"!-->
                            <h:panelGrid columns="2" style="width: 100%;">
                                <p:column>    
                                    <p:outputLabel  value="#{msg['header.grilla.Practica.tipoPractica']}:" style="font-size: 15px;margin-left: 5%;"/>                          
                                    <p:inputText value="#{detalleSupEntidadMB.practica.tipoPractica.namTipoPractica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:85%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>                       
                                </p:column>
                                <p:column>
                                    <p:outputLabel  value="#{msg['header.grilla.Practica.estadoPractica']}:" style="font-size: 15px;margin-left: 2%;"/>
                                    <p:inputText value="#{detalleSupEntidadMB.practica.estadoPractica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:85%;margin-bottom:5%;margin-left: 2%;" readonly="true"/>
                                </p:column>
                            </h:panelGrid>
                            <p:column>
                                <p:outputLabel  value="#{msg['label.boton.enviar.retroalimentacion']}" style="font-size: 20px;margin-left: 3%;"/>
                                <br/>
                                <br/> 
                            </p:column>
                            <p:column>
                                <p:outputLabel  value="#{msg['label.titulo.novedades']}:" style="font-size: 15px;margin-left: 3%;"/>
                                <br/>
                                <p:inputText value="#{novedadPersonaMB.novedadPersona.novedad}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left: 3%;"/>
                                <br/>
                                <p:outputLabel  value="#{msg['label.descripcion']}:" style="font-size: 15px;margin-left: 3%;"/>
                                <br/>
                                <p:inputTextarea  value="#{novedadPersonaMB.novedadPersona.descripcion}" rows="5" cols="30"    autoResize="false"  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left: 3%;"/>
                                <br/>                
                                <p:outputLabel  value="#{msg['label.observacionesAdicionales']}:" style="font-size: 15px;margin-left: 3%;"/>
                                <br/>
                                <p:inputTextarea  value="#{novedadPersonaMB.observacionesAdicionales}" rows="5" cols="30"    autoResize="false"  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left: 3%;"/>
                            </p:column>
                            <p:column>
                                <p:commandButton id="idBtnGuardarRetroalimentacion" value="#{msg['label.boton.enviar.retroalimentacion']}" actionListener="#{novedadPersonaMB.GuardarRetroalimentacionProceso(detalleSupEntidadMB.detallePracticante.persona.seqPersona)}"  update="formSupervisorEntidad" process="@form" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold; margin-left: 3%;"/>
                                <br/>
                            </p:column>
                        </h:panelGrid>
                    </p:panel>
                    <br/>
                    <br/>
                    <h:panelGrid style="width: 100%; border: none;">
                        <p:panel header="Novedades Registradas">
                            <h:panelGrid>
                                <ui:include src="./../secciones/GrillaNovedadRetroalimentacion.xhtml" />   
                            </h:panelGrid>  
                        </p:panel>
                    </h:panelGrid>
                </p:tab>

                <!--            PARTE DESEMPEÑO POSTULADOS-->
                <p:tab title="Evaluacion Desempeño">
                    <ui:include src="MenuDetalleSupEntidad.xhtml"  /> 
                    <h:panelGrid style="background: whitesmoke;margin-bottom: 10%" ><!--rendered="{detalleSupEntidadMB.menuPostuladosDesempeño}"!-->
                        <p:commandButton id="idBtnDescargarReportePostulados" value="#{msg['label.boton.descargar.reporte']}"   update="formSupervisorEntidad" process="@form" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;"/>
                    </h:panelGrid>
                </p:tab>



            </div>
        </div>
    </p:tabView>

    <p:tabView rendered="#{detalleSupEntidadMB.btnDetalleAsiganados}">

        <!--###################### SUB MENU DE ASIGNADO###################################-->
        <div class="ui-g">
            <!--        <div class="ui-g-1"></div>-->
            <div class="ui-g-12">
                <!-- Perfil estudiante asigando -->
                <p:tab title="Perfil Estudiante">
                    <ui:include src="MenuDetalleSupEntidad.xhtml"  /> 
                    <!--rendered="{detalleSupEntidadMB.menuPostuladosPerfil}"!-->
                    <h:panelGrid  style="float: left" columns="1">
                        <div class="ui-g" >
                            <div class="ui-g-6">
                                <p:graphicImage name="images/perfil_blanco.jpg"  width="80" height="80"/>   
                            </div> 
                            <div class="ui-g-6"></div>
                        </div>
                    </h:panelGrid>
                    <h:panelGrid style="margin-bottom: 10%; width: 100%;"  columns="1">
                        <h:panelGrid style="background: whitesmoke;width: 100%;" columns="2">
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.persona.nombres']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.nombres}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>

                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.persona.apellidos']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.apellidos}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>

                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.persona.cedula']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.cedula}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.persona.lugarExpedicion']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.lugarExpedicion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.persona.codigo']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.codigo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.persona.cargo']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.cargo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.persona.correoInstiCorp']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.correoInstiCorp}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.persona.correoAlternativo']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.correoAlternativo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.persona.telefono']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.telefono}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.persona.celular']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.celular}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.persona.direccion']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.persona.direccion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.areaEscolaris.seqProgramaEscolaris']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.areaEscolaris.programaEscolaris.programa}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.eps.eps']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.eps.eps}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.semestre']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.semestre}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.DetallePracticante.estadoPractica']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>

                                <p:inputText value="#{detalleSupEntidadMB.detallePracticante.estadoPractica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>

                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{msg['label.descargar.hojaDeVida']}: " style="font-size: 15px;margin-left: 5%;"/>
                                <p:commandButton value="#{msg['label.boton.descargar.hojaDeVida']}" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;"/>
                            </p:column>
                        </h:panelGrid>
                    </h:panelGrid>
                </p:tab>

                <p:tab title="Proceso Asignado" >
                    <ui:include src="MenuDetalleSupEntidad.xhtml"  /> 
                    <!--            PARTE PROCESO ASIGNADO-->
                    <p:panel style="background: whitesmoke;margin-bottom: 10%; width: 100%;" >
                        <p:panel id="panFromPractica" toggleable="true" header="Practica" style="margin-bottom:20px;background: whitesmoke; border: none !important;">
                            <h:panelGrid style="background: whitesmoke;width: 100%;" columns="2">
                                <p:column>
                                    <p:outputLabel value="#{msg['label.Practica.tipoPractica']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                    <p:inputText value="#{detalleSupEntidadMB.practica.tipoPractica.namTipoPractica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column> 
                                <p:column>
                                    <p:outputLabel value="#{msg['label.Practica.datVigenciaDesde']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>                         
                                    <p:inputText value="#{detalleSupEntidadMB.practica.datVigenciaDesde}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>                        
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{msg['label.Practica.datVigenciaHasta']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>               
                                    <p:inputText value="#{detalleSupEntidadMB.practica.datVigenciaHasta}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/> 
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{msg['label.Practica.estadoPractica']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                    <p:inputText value="#{detalleSupEntidadMB.practica.estadoPractica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{msg['label.Practica.pazYSalvo']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                    <p:inputText value="#{detalleSupEntidadMB.practica.pazYSalvo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/> 
                                </p:column>
                            </h:panelGrid>

                        </p:panel>
                        <p:panel id="panFromPracticaConvenio" class="GrillaRegistro " toggleable="true" header="Convenio" style="margin-bottom:20px;background: whitesmoke; border: none !important;">
                            <h:panelGrid style="background: whitesmoke;width: 100%;" columns="2">
                                <p:column>
                                    <p:outputLabel value="#{msg['label.Convenio.nombre']} Convenio " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>                                         
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.convenio.nombre}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>                            
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{msg['label.PracticanteConvenio.estadoAprobado']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.estadoAprobado}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/> 
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{msg['label.PracticanteConvenio.estadoConvenio']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.estadoConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{msg['label.PracticanteConvenio.estadoPracticante']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.estadoPracticante}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{msg['label.PracticanteConvenio.aprobado']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.aprobado}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{msg['label.PracticanteConvenio.observacion']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.observacion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{msg['label.PracticanteConvenio.datVigPeriodoDesde']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.datVigPeriodoDesde}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/> 
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{msg['label.PracticanteConvenio.datVigPeriodoHasta']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.datVigPeriodoHasta}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column>
                            </h:panelGrid>
                        </p:panel>
                        <p:panel id="panFromEntidad" toggleable="true" header="Entidad" style="margin-bottom:20px;background: whitesmoke; border: none !important;">
                            <h:panelGrid style="background: whitesmoke;width: 100%;" columns="2">
                                <p:column>
                                    <p:outputLabel value="#{msg['label.Entidad.nombre']} Entidad " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>          
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.convenio.entidad.nombre}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="Estado Entidad" style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>          
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.detalleSupEntidad.estado}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="Descripcion Entidad" style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>                                    
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.detalleSupEntidad.descripcion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>                
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="Obervacion Entidad" style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>          
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.detalleSupEntidad.observacion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column>
                            </h:panelGrid>
                        </p:panel>
                        <p:panel id="panFromSupervisor" toggleable="true" header="Supervisor" style="margin-bottom:20px;background: whitesmoke; border: none !important;">
                            <h:panelGrid style="background: whitesmoke;width: 100%;" columns="2">
                                <p:column>
                                    <p:outputLabel value="#{msg['label.Persona.nombres']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>          
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.detalleSupEntidad.persona.nombres}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{msg['label.Persona.apellidos']} " style="font-size: 15px;margin-left: 5%;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>          
                                    <p:inputText value="#{detalleSupEntidadMB.practica.practicanteConvenio.detalleSupEntidad.persona.apellidos}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" readonly="true"/>
                                </p:column>
                            </h:panelGrid>
                        </p:panel>
                    </p:panel>
                </p:tab>

                <p:tab title="Registro Semanal">
                    <ui:include src="MenuDetalleSupEntidad.xhtml"  /> 
                    <!--            PARTE REGISTRO SEMANAL-->
                    <p:panel style="background: whitesmoke; margin-bottom: 10%; width: 100%; border: none;">
                        <p:panel id="panGrillaRegistroSemanalEst" class="GrillaRegistro" header="Registro Semanal" style="margin-bottom:20px;">
                            <h:panelGrid>
                                <ui:include src="GrillaRegistroSemanalEntidad.xhtml"></ui:include>
                            </h:panelGrid>
                        </p:panel>
                        <p:panel id="panGrillaHistorialRegistroSemanal" class="GrillaRegistro " header="Historial Registro Semanal" style="margin-bottom:20px;">
                            <h:panelGrid>
                                <ui:include src="GrillaRegistroSemanaEntidadHistorial.xhtml"></ui:include>
                            </h:panelGrid>
                        </p:panel>
                    </p:panel>
                </p:tab>

                <p:tab>
                    <ui:include src="MenuDetalleSupEntidad.xhtml"  /> 
                    <p:panel style="background: whitesmoke;margin-bottom: 10%">
                        <p:panel style=" border: none; background-color: whitesmoke;" header="Paz y Salvo">
                            <p:outputLabel value="{msg['header.grilla.ControlDiarioEstudiante.practica.pazYSalvo']}" style="font-size: 15px;margin-left: 10%;"></p:outputLabel>
                            <p:commandButton id="idBtnAsigandosPazYSalvo" value="{msg['label.boton.Asigandos.emitir']}"  update="formSupervisorEntidad" process="@form" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold; margin-left: 30%;"/>
                        </p:panel>
                        <p:panel style="border: none; background-color: whitesmoke;" header="Carta Referenciación">
                            <p:outputLabel value="{msg['header.grilla.ControlDiarioEstudiante.practica.cartaReferenciacion']}" style="font-size: 15px;margin-left: 5%;"></p:outputLabel>
                            <p:commandButton id="idBtnAsigandosCartaReferenciacion" value="{msg['label.boton.Asigandos.emitir']}"  update="formSupervisorEntidad" process="@form" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold; margin-left: 30%;"/>
                        </p:panel>
                    </p:panel>                    
                </p:tab>

            </div>
            <!--        <div class="ui-g-1"></div>-->
        </div>
    </p:tabView>      
</ui:composition>