<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g"> 

        <div class="ui-g-2">
            <p:graphicImage name="images/perfil_blanco.jpg"  width="130" height="130" style="margin-top: 5%;"/>
        </div>

        <p:outputLabel value="Estudiante: JUAN PABLO MENDEZ" style="margin-top:11%;"/>

    </div>

    <div class="ui-g">

        <p:tabView style="width: 100%;margin-top: 1%;"  orientation="left" >

            <p:tab title="Información personal">
                <div align="right">
                    <p:menuButton value="Opciones" style="margin-top: 2%;">
                        <p:menuitem value="Editar información" icon="fa fa-edit"/>  
                        <p:separator />
                        <p:menuitem value="Inicio" icon="fa fa-home"/>
                    </p:menuButton>
                </div>
                <br/>
                <p:separator/>
                <p:panel style="width: 96%;margin: 2%;background: whitesmoke; margin-top: 3%;" >

                    <br/><br/>
                    <p:outputLabel value="#{msg['label.DetallePracticante.persona.nombres']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.practicante.nombres}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetallePracticante.persona.apellidos']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.practicante.apellidos}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.cedula']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.practicante.cedula}"  
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.lugarExpedicion']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;"/>
                            <br/>
                            <p:selectOneMenu  id="listCiudad" style="width:85%;color:#5f666c;"   
                                              value="#{detalleCoorPracticasMB.practicante.lugarExpedicion}" filter="true" filterMatchMode="contains"> 
                                <f:selectItems value="#{detalleCoorPracticasMB.listaCiudad}" var="c" itemValue="#{c.seqCiudad}" itemLabel="#{c.ciudad}" />  
                            </p:selectOneMenu>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetallePracticante.persona.codigo']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.practicante.codigo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetallePracticante.persona.correoInstiCorp']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.practicante.correoInstiCorp}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetallePracticante.persona.correoAlternativo']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.practicante.correoAlternativo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.telefono']} " style="font-size: 15px;"/>
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.practicante.telefono}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.celular']} " style="font-size: 15px;"/>           
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.practicante.celular}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetallePracticante.persona.direccion']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.practicante.direccion}" 
                                 style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>         
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.areaEscolaris.seqProgramaEscolaris']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.detallePracticante.areaEscolaris.programaEscolaris.seqPrograma}"  
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.semestre']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;"/>
                            <br/>
                            <p:selectOneMenu  id="listSemestre" style="width:85%;color:#5f666c;;"   
                                              value="#{detalleCoorPracticasMB.detallePracticante.semestre}"
                                              filter="true" filterMatchMode="contains"> 
                                <f:selectItem/>
                                <f:selectItem itemLabel="#{msg['label.primero']}" itemValue="#{msg['label.primero']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.segundo']}" itemValue="#{msg['label.segundo']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.tercero']}" itemValue="#{msg['label.tercero']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.cuarto']}" itemValue="#{msg['label.cuarto']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.quinto']}" itemValue="#{msg['label.quinto']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.sexto']}" itemValue="#{msg['label.sexto']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.septimo']}" itemValue="#{msg['label.septimo']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.octavo']}" itemValue="#{msg['label.octavo']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.noveno']}" itemValue="#{msg['label.noveno']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.decimo']}" itemValue="#{msg['label.decimo']}"  />  
                            </p:selectOneMenu>
                        </h:column>
                    </h:panelGrid> 
                    <br/>
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.datVigenciaDesde']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:calendar value="#{detalleCoorPracticasMB.practicante.datVigenciaDesde}" showOn="button" navigator="true" 
                                        style="border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.persona.datVigenciaHasta']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:calendar value="#{detalleCoorPracticasMB.practicante.datVigenciaHasta}" showOn="button" navigator="true" 
                                        style="border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/> 
                    <p:outputLabel value="#{msg['label.DetallePracticante.eps.eps']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:selectOneMenu  id="listaEPS" style="width:85%;color:#5f666c;margin-left: 5%;"   
                                      value="#{detalleCoorPracticasMB.detallePracticante.eps.seqEps}" filter="true" filterMatchMode="contains"> 
                        <f:selectItems value="#{detalleCoorPracticasMB.listaEPS}" var="e" itemValue="#{e.seqEps}" itemLabel="#{e.eps}" />  
                    </p:selectOneMenu>
                    <br/><br/>
                    <p:outputLabel value="#{msg['label.DetallePracticante.estadoPractica']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>           
                    <p:selectOneMenu  id="listaEstadoPrac" style="width:40%;color:#5f666c;margin-left: 5%;margin-bottom:3%;"   
                                      value="#{detalleCoorPracticasMB.detallePracticante.estadoPractica}"
                                      filter="true" filterMatchMode="contains"> 
                        <f:selectItem/>
                        <f:selectItem itemLabel="Deshabilitado" itemValue="0"  /> 
                        <f:selectItem itemLabel="Nivelado" itemValue="1"  />
                        <f:selectItem itemLabel="Inscrito" itemValue="2"  />
                        <f:selectItem itemLabel="Aceptado" itemValue="3"  />
                        <f:selectItem itemLabel="Rechazado" itemValue="4"  />
                    </p:selectOneMenu>
                    <br/>     
                    <p:outputLabel value="#{msg['label.DetallePracticante.estadoHabilitar']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/> 
                    <p:selectOneMenu  id="listaEstadoHabilitar" style="width:40%;color:#5f666c;margin-left: 5%;margin-bottom:3%;"   
                                      value="#{detalleCoorPracticasMB.detallePracticante.estadoHabilitar}" filter="true" filterMatchMode="contains"> 
                        <f:selectItem/>
                        <f:selectItem itemLabel="Habilitar" itemValue="0"  /> 
                        <f:selectItem itemLabel="Inhabilitar" itemValue="1"  /> 
                    </p:selectOneMenu>
                    <br/>     
                    <p:outputLabel value="#{msg['label.DetallePracticante.estadoBloquear']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>           
                    <p:selectOneMenu  id="listaEstadoBloquear" style="width:40%;color:#5f666c;margin-left: 5%;margin-bottom:3%;"   
                                      value="#{detalleCoorPracticasMB.detallePracticante.estadoBloquear}" filter="true" filterMatchMode="contains"> 
                        <f:selectItem/>
                        <f:selectItem itemLabel="Bloquear" itemValue="0"  /> 
                        <f:selectItem itemLabel="Desbloauqear" itemValue="1"  /> 
                    </p:selectOneMenu>
                    <br/>
                    <h:panelGrid columns="2" style="width: 90%;margin-left: 5%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.datPracticaDesde']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>           
                            <p:calendar id="calDatPracticaDesde" value="#{detalleCoorPracticasMB.detallePracticante.datPracticaDesde}" navigator="true"  showOn="button" />
                            <br/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetallePracticante.datPracticaHasta']} " style="font-size: 15px;margin-left: 5%;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>           
                            <p:calendar id="calDatPracticaHasta" value="#{detalleCoorPracticasMB.detallePracticante.datPracticaHasta}" navigator="true"  showOn="button" />
                            <br/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetallePracticante.observaciones']} " style="font-size: 15px;margin-left: 5%;"/>
                    <br/>           
                    <p:inputTextarea rows="5" cols="100" value="#{detalleCoorPracticasMB.detallePracticante.observaciones}" 
                                     queryDelay="750" minQueryLength="4" style="margin-left: 5%;" autoResize="false"/>
                    <br/>
                    <br/>
                    <!--   <div class="ui-g" style="margin-top: 5%;margin-bottom: 5%;">
                           <div class="ui-g-6" align="right">
                               <p:commandButton id="btGuardarPracticante"  value="{msg['label.botonGuardar']}" 
                                                icon="fa fa-save" style="width:40%;"/>
                           </div>
                           <div class="ui-g-6" align="left">
                               <p:commandButton  id="btCancelarPracticante" value="{msg['label.botonCancelar']}" icon="fa fa-undo"   
                                                 update="panDetallePracticante" immediate="true" style="width: 40%;"/> 
                           </div>
                       </div>-->

                </p:panel>
            </p:tab>

            <p:tab title="Convenio asignado">
                <div align="right">
                    <p:menuButton value="Opciones" style="margin-top: 2%;">
                        <p:menuitem value="Editar información" icon="fa fa-edit"/>  
                        <p:separator />
                        <p:menuitem value="Inicio" icon="fa fa-home"/>
                    </p:menuButton>
                </div>
                <br/>
                <p:separator/>

                <p:dataList value="#{detallePracticanteMB.listDetallePracticante}" var="car" type="unordered" style="border: none; margin: 2%; margin-top: 3%;" >
                    <p:outputLabel value="EPS: " style="font-size: 15px;"/>
                    <p:outputLabel value="#{car.eps.eps}" style="font-size: 15px;"/>
                    <br/> 
                    <p:outputLabel value="PERSONA: " style="font-size: 15px;"/>
                    <p:outputLabel value="#{car.persona.nombres} #{car.persona.apellidos}" style="font-size: 15px;"/>
                    <br/> 
                    <p:outputLabel value="CODIGO: " style="font-size: 15px;"/>
                    <p:outputLabel value="#{car.persona.codigo}" style="font-size: 15px;"/>
                </p:dataList>
            </p:tab>

            <p:tab title="Control diario">
                <f:facet name="Menu">
                    <p:panelMenu>
                        <p:submenu label="Ajax Menuitems">
                            <p:menuitem value="Save" icon="pi pi-save" />
                            <p:menuitem value="Update" icon="pi pi-refresh" />
                        </p:submenu>
                    </p:panelMenu>
                </f:facet>

                <div align="right">
                    <p:menuButton value="Opciones" style="margin-top: 2%;">
                        <p:menuitem value="Editar información" icon="fa fa-edit"/>  
                        <p:separator />
                        <p:menuitem value="Inicio" icon="fa fa-home"/>
                    </p:menuButton>
                </div>
                <br/>
                <p:separator/>


                <p:dataTable id="dtControlDiarioEstudiante" 
                             var="con" 
                             value="#{controlDiarioEstudianteMB.listControlDiarioEstudiante}"                                       
                             reflow="true"  
                             filteredValue="#{controlDiarioEstudianteMB.controlDiarioEstudianteFiltradas}"
                             rows="12"
                             paginatorPosition="bottom"
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             emptyMessage="No se encontró información registrada de ControlDiarioEstudiante"
                             style="font-size: 11px;margin: 2%;margin-top: 3%;"
                             selectionMode="single" 
                             selection="#{controlDiarioEstudianteMB.controlDiarioEstudiante}" rowKey="#{con.seqControlDiario}">

                    <p:column headerText="#{msg['header.grilla.ControlDiarioEstudiante.sesionControl']}" style="text-align:center;font-size: 11px"
                              filterBy="#{con.sesionControl}" filterMatchMode="contains"
                              sortBy="#{con.sesionControl}"
                              >
                        <h:outputText value="#{con.sesionControl}" style="font-size: 12px" />
                    </p:column>
                    <p:column headerText="#{msg['header.grilla.ControlDiarioEstudiante.datControl']}" style="text-align:center;font-size: 11px"
                              filterBy="#{con.datControl}" filterMatchMode="contains"
                              sortBy="#{con.datControl}"
                              >
                        <h:outputText value="#{con.datControl}" style="font-size: 12px" />
                    </p:column>
                    <p:column headerText="#{msg['header.grilla.ControlDiarioEstudiante.horaEntrada']}" style="text-align:center;font-size: 11px"
                              filterBy="#{con.horaEntrada}" filterMatchMode="contains"
                              sortBy="#{con.horaEntrada}"
                              >
                        <h:outputText value="#{con.horaEntrada}" style="font-size: 12px" />
                    </p:column>
                    <p:column headerText="#{msg['header.grilla.ControlDiarioEstudiante.horaSalida']}" style="text-align:center;font-size: 11px"
                              filterBy="#{con.horaSalida}" filterMatchMode="contains"
                              sortBy="#{con.horaSalida}"
                              >
                        <h:outputText value="#{con.horaSalida}" style="font-size: 12px" />
                    </p:column>
                    <p:column headerText="#{msg['header.grilla.ControlDiarioEstudiante.actividad']}" style="text-align:center;font-size: 11px"
                              filterBy="#{con.actividad}" filterMatchMode="contains"
                              sortBy="#{con.actividad}"
                              >
                        <h:outputText value="#{con.actividad}" style="font-size: 12px" />
                    </p:column>
                </p:dataTable>
                <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </p:tab>

            <p:tab title="Seguimiento quincenal">

            </p:tab>

            <p:tab title="Sesión supervisión">

            </p:tab>


            <p:tab title="Novedades">

            </p:tab>

        </p:tabView>

    </div>

</ui:composition>