<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:form id="formCoordinadorPrac">
        <p:growl id="msgs" showDetail="true" />

        <div class="ui-g-12">
            <p:panel id="datosPersonales" header="Coordinador prácticas" toggleable="true" toggleSpeed="500" widgetVar="panel" rendered="#{detalleCoorPracticasMB.pnPerfilSesion}"
                     style="background: whitesmoke;border-style: hidden" >

                <p:ajax event="toggle" listener="#{panelView.onToggle}" update="msgs" />
                <div class="ui-g">
                    <div class="ui-g-2">
                        <p:graphicImage name="images/perfil_blanco.jpg"  width="150" height="150" style="margin-top: 5%;"/>
                        <p:commandButton value="Editar" style="width: 150px; height: 25px;font-size: 16px;" rendered="#{detalleCoorPracticasMB.varPanelEditar}"/>
                    </div>
                    <div class="ui-g-10" style="margin-top: 1%; margin-bottom: 1%; background: white" >
                        <div class="ui-g">
                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.nombre']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-8">
                                <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.nombres} #{detalleCoorPracticasMB.detalleCoorPracticas.persona.apellidos}" 
                                             style="border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"/>
                            </div>

                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cedula']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-2" >
                                <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.cedula}" 
                                             style="border-top:none;border-left:none;border-right:none;width:140%;" readonly="true"/>
                            </div>
                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.lugarExpedicion']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-3">
                                <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.lugarExpedicion}" 
                                             style="border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"/>  
                            </div>
                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cargo']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-2">
                                <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.cargo}" 
                                             style="border-top:none;border-left:none;border-right:none;width:140%;" readonly="true"/>
                            </div>
                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.oficina']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-3">
                                <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.oficina}" 
                                             style="border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"/>
                            </div>
                            <br/>           
                        </div>
                    </div> 
                </div>
                <f:facet name="options">
                    <p:menu>
                        <p:submenu>
                            <p:menuitem value="Editar información" icon="fa fa-edit" action="#{detalleCoorPracticasMB.panelEditar()}" 
                                        update="formCoordinadorPrac" immediate="true" rendered="#{detalleCoorPracticasMB.varPanelInfoPersonal}"/>
                            <p:menuitem value="Inicio" icon="fa fa-home" action="#{detalleCoorPracticasMB.onCancelar()}" update="formCoordinadorPrac" immediate="true"  />
                        </p:submenu>
                    </p:menu>
                </f:facet>
            </p:panel>
        </div>
        <p:separator style="background: #a8acb1;height:3px;margin-top:2%;margin-left:20px; margin-right:20px" rendered="#{detalleCoorPracticasMB.pnPerfilSesion}"/>  
        <div class="ui-g">
            <div class="ui-g-2"></div>
            <div class="ui-g-8">            
                <p:panel id="infPersonalCoordinador" style="background: whitesmoke;margin-bottom: 10%" rendered="#{detalleCoorPracticasMB.varPanelEditar}">
                    <br/><br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.nombres']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.nombres}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.apellidos']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.apellidos}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>

                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cedula']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.cedula}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.lugarExpedicion']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.lugarExpedicion}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cargo']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.cargo}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.codigo']} " style="font-size: 15px;"/>             
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.codigo}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.correoInstiCorp']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.correoInstiCorp}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.correoAlternativo']} " style="font-size: 15px;margin-left: 5%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.correoAlternativo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.telefono']} " style="font-size: 15px;"/>
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.telefono}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.celular']} " style="font-size: 15px;"/>           
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.celular}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.oficina']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.oficina}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.extensionOficina']} " style="font-size: 15px;;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>           
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.extensionOficina}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.direccion']} " style="font-size: 15px;margin-left: 5%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.direccion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.datVigencia']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.persona.datVigenciaDesde}"
                                 style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left:5%;" readonly="true"/>
                    <br/>                    
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.nombreSecretaria']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>           
                    <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.nombreSecretaria}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.oficinaSecretaria']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.oficinaSecretaria}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.extencionSecretaria']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>           
                            <br/>
                            <p:inputText value="#{detalleCoorPracticasMB.detalleCoorPracticas.extensionSecretaria}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <div class="ui-g" style="margin-top: 5%;margin-bottom: 5%;">
                        <div class="ui-g-6" align="right">
                            <p:commandButton id="btGuardarCoordinador" actionListener="#{detalleCoorPracticasMB.onActulizarRegistro()}" value="#{msg['label.botonGuardar']}" 
                                             icon="fa fa-save" style="width:40%;" update="formCoordinadorPrac"/>
                        </div>
                        <div class="ui-g-6" align="left">
                            <p:commandButton  id="btCancelar" value="#{msg['label.botonCancelar']}" icon="fa fa-undo" action="#{detalleCoorPracticasMB.onCancelar()}"  
                                              update="formCoordinadorPrac" immediate="true" style="width: 40%;"/> 
                        </div>
                    </div>
                </p:panel>
            </div>
            <div class="ui-g-2"></div>
        </div>

        <div class="ui-g">
            <div class="ui-g-3">
                <p:panel id="panInfoDetallePracticante" style="width: 100%;background: whitesmoke" rendered="#{detalleCoorPracticasMB.varPanelInfoPersonal}">

                    <!--MENU CARGUE ESTUDIANTES
                    <div class="ui-g">
                        <div class="ui-g-1" > 
                            <p:graphicImage name="images/cargue.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Cargues" action="{detalleCoorPracticasMB.opcionMenu(1)}" update="formCoordinadorPrac" 
                                             style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>
                    <h:panelGrid id="panMenuCargue" style="width: 100%;margin-bottom: 10%;" rendered="{detalleCoorPracticasMB.menuestudiante}">
                        <p:commandButton value="" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;"
                                         icon="fa fa-edit" action="{detalleCoorPracticasMB.opcionSubMenu(1)}" update="formCoordinadorPrac">
                        </p:commandButton>
                        <p:commandButton value="Consultar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" 
                                         icon="fa fa-search" action="{detalleCoorPracticasMB.opcionSubMenu(2)}" update="formCoordinadorPrac" />
                    </h:panelGrid>  -->


                    <!--MENU ESTUDIANTE-->
                    <div class="ui-g">
                        <div class="ui-g-1" > 
                            <p:graphicImage name="images/imgEstudiante.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Estudiantes" action="#{detalleCoorPracticasMB.opcionMenu(1)}" update="formCoordinadorPrac" 
                                             style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>
                    <h:panelGrid id="panMenuEstudiante" style="width: 100%;margin-bottom: 10%;" rendered="#{detalleCoorPracticasMB.menuestudiante}">
                        <p:commandButton value="Registrar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;"
                                         icon="fa fa-edit" action="#{detalleCoorPracticasMB.opcionSubMenu(1)}" update="formCoordinadorPrac"/>
                        <p:commandButton value="Consultar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" 
                                         icon="fa fa-search" action="#{detalleCoorPracticasMB.opcionSubMenu(2)}" update="formCoordinadorPrac, pnConsultarEstudiante" />
                    </h:panelGrid>  

                    <!--MENU SUPERVISOR-->
                    <div class="ui-g">
                        <div class="ui-g-2" style="height: 2%;"> 
                            <p:graphicImage name="images/imgSupervisor.png"  width="35" height="35"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Supervisor" action="#{detalleCoorPracticasMB.opcionMenu(2)}" update="formCoordinadorPrac" 
                                             style="font-size: 16px;font-weight: bold;width: 100%;text-align: left"/>
                        </div>
                    </div>
                    <h:panelGrid id="panMenuSupervisor" style="width: 100%;margin-bottom: 10%;" rendered="#{detalleCoorPracticasMB.menuSupervisor}">
                        <p:commandButton value="Registrar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-edit" />
                        <p:commandButton value="Consultar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-search"/>
                        <p:commandButton value="Reasignar Supervisor" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-exchange"/>
                    </h:panelGrid>

                    <!--MENU ENTIDADES-->
                    <div class="ui-g">
                        <div class="ui-g-1" > 
                            <p:graphicImage name="images/imgEntidad.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Entidad" action="#{detalleCoorPracticasMB.opcionMenu(3)}" update="formCoordinadorPrac" 
                                             style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>
                    <h:panelGrid id="panMenuEntidad" style="width: 100%;margin-bottom: 10%;" rendered="#{detalleCoorPracticasMB.menuEntidad}">
                        <p:commandButton value="Registrar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-edit" />
                        <p:commandButton value="Consultar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-search"/>
                    </h:panelGrid> 

                    <!--MENU CONVENIOS-->
                    <div class="ui-g">
                        <div class="ui-g-1" > 
                            <p:graphicImage name="images/imgConvenio.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Convenios" action="#{detalleCoorPracticasMB.opcionMenu(4)}" update="formCoordinadorPrac" 
                                             style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>
                    <h:panelGrid id="panMenuConvenio" style="width: 100%;margin-bottom: 10%;" rendered="#{detalleCoorPracticasMB.menuConvenio}">
                        <p:commandButton value="Consultar convenios" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-search" />
                        <p:commandButton value="Consultar convenios supervisión" style="font-size: 15px;width: 100%;height: 50px;text-align: left;background: gainsboro;color: black;" icon="fa fa-search"/>
                    </h:panelGrid> 

                    <!--MENU CONVENIOS-->
                    <div class="ui-g">
                        <div class="ui-g-1" > 
                            <p:graphicImage name="images/imgCompetencia.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Competencias" action="#{detalleCoorPracticasMB.opcionMenu(5)}" update="formCoordinadorPrac" 
                                             style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>
                    <h:panelGrid id="panMenuCompetencia" style="width: 100%;margin-bottom: 10%;" rendered="#{detalleCoorPracticasMB.menuCompetencias}">
                        <p:commandButton value="Gestionar competencias" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" 
                                         icon="fa fa-edit" />
                    </h:panelGrid> 
                </p:panel>
            </div>


            <p:panel id="pnRegistrarEstudiante" style="width: 100%; border: none;" rendered="#{detalleCoorPracticasMB.pnEstudianteRegistro}" >
                <ui:include src="./../secciones/FormularioConsulPracticante.xhtml"/>
            </p:panel>
            <p:panel id="pnConsultarEstudiante" style="width: 100%; border: none;" rendered="#{detalleCoorPracticasMB.pnEstudianteConsultar}">                  
                <ui:include src="./../secciones/ConsultarDetallePracticante_CP.xhtml"/>                  
            </p:panel>
        </div>
    </h:form>
</ui:composition>