<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:my="http://example.com/jsf">

    <h:form id="formSupervisorEntidad">
        <p:growl id="msgs" showDetail="true" />
        <!--        <div align="right">
                    <p:commandButton value="{msg['label.Salir']}" icon="fa fa-sign-out" 
                                     immediate="true" style="margin-top:1%;font-size: 15px; text-decoration: underline;" />
                    
                </div>-->
        <div class="ui-g-12" >
            <p:panel id="datosPersonales" rendered="#{detalleSupEntidadMB.ocultarMenuPerfilEntidad}" header="Supervisor Entidad" toggleable="true" toggleSpeed="500" widgetVar="panel" 
                     style="margin-top: 2%;background: whitesmoke;border-style: hidden" >

                <p:ajax event="toggle" listener="#{panelView.onToggle}" update="msgs" />
                <div class="ui-g">
                    <div class="ui-g-2">
                        <p:graphicImage name="images/perfil_blanco.jpg"  width="150" height="150" style="margin-top: 5%;"/>
                        <p:commandButton value="Editar" style="width: 150px; height: 25px;font-size: 16px;" rendered="#{detalleCoorPracticasMB.varPanelEditar}"/>
                    </div>
                    <div class="ui-g-10" style="margin-top: 1%; margin-bottom: 1%; background: white" >
                        <div class="ui-g">
                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.nombre']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-8">
                                <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.nombres} #{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.apellidos}" 
                                             style="border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"/>
                            </div>

                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cedula']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-2" >
                                <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.cedula}" 
                                             style="border-top:none;border-left:none;border-right:none;width:140%;" readonly="true"/>
                            </div>
                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.lugarExpedicion']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-3">
                                <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.lugarExpedicion}" 
                                             style="border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"/>  
                            </div>
                            <div class="ui-g-3" align="right">
                                <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cargo']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            </div>
                            <div class="ui-g-2">
                                <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.cargo}" 
                                             style="border-top:none;border-left:none;border-right:none;width:140%;" readonly="true"/>
                            </div>
                            <br/>           
                        </div>
                    </div> 
                </div>
                <f:facet name="options">
                    <p:menu>
                        <p:submenu>
                            <p:menuitem value="Editar información" icon="fa fa-edit" action="#{detalleSupEntidadMB.MenuPerfilSupervisor(1)}" 
                                        update="formSupervisorEntidad" immediate="true" rendered="#{!detalleSupEntidadMB.menuSupervisorEntidadPerfil}"/>
                            <p:menuitem value="Inicio" icon="fa fa-home" action="#{detalleSupEntidadMB.MenuPerfilSupervisor(0)}" update="formSupervisorEntidad" immediate="true"  />
                        </p:submenu>
                    </p:menu>
                </f:facet>
            </p:panel>
        </div>
        <p:separator style="background: #a8acb1;height:3px;margin-top:2%;margin-left:20px; margin-right:20px" />  
        <div class="ui-g">
            <div class="ui-g-2"></div>
            <div class="ui-g-8">
                <br/>
                <br/>
                <p:panel id="infPersonalCoordinador" style="background: whitesmoke;margin-bottom: 10%" rendered="#{detalleSupEntidadMB.menuSupervisorEntidadPerfil}">
                    <br/><br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.nombres']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.nombres}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.apellidos']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.apellidos}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>

                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cedula']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.cedula}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.lugarExpedicion']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.lugarExpedicion}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.cargo']} " style="font-size: 15px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                            <br/>
                            <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.cargo}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.codigo']} " style="font-size: 15px;"/>             
                            <br/>
                            <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.codigo}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.correoInstiCorp']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.correoInstiCorp}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.correoAlternativo']} " style="font-size: 15px;margin-left: 5%;"/>
                    <br/>
                    <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.correoAlternativo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <h:panelGrid columns="2" style="margin-left: 5%; width: 90%;">
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.telefono']} " style="font-size: 15px;"/>
                            <br/>
                            <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.telefono}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;"/>
                        </h:column>
                        <h:column>
                            <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.celular']} " style="font-size: 15px;"/>           
                            <br/>
                            <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.celular}" 
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:95%;margin-bottom:5%;"/>
                        </h:column>
                    </h:panelGrid>
                    <br/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.direccion']} " style="font-size: 15px;margin-left: 5%;"/>
                    <br/>
                    <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.direccion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                    <br/>
                    <p:outputLabel value="#{msg['label.DetalleCoorPracticas.persona.datVigencia']} " style="font-size: 15px;margin-left: 5%;"/>
                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                    <br/>
                    <p:inputText value="#{detalleSupEntidadMB.detallePrincipalEntidadInf.persona.datVigenciaDesde}"
                                 style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left:5%;" readonly="true"/>
                    <br/>
                    <br/>
                    <div class="ui-g" style="margin-top: 5%;margin-bottom: 5%;">
                        <div class="ui-g-6" align="right">
                            <p:commandButton id="btGuardarCoordinador" actionListener="#{detalleSupEntidadMB.ActualizarDatosPerfil()}" value="#{msg['label.botonGuardar']}" 
                                             icon="fa fa-save" style="width:40%;" update="formSupervisorEntidad"/>
                        </div>
                        <div class="ui-g-6" align="left">
                            <p:commandButton  id="btCancelar" value="#{msg['label.botonCancelar']}" icon="fa fa-undo" action="#{detalleSupEntidadMB.MenuPerfilSupervisor(0)}"  
                                              update="formSupervisorEntidad" immediate="true" style="width: 40%;"/> 
                        </div>
                    </div>
                </p:panel>
            </div>
            <div class="ui-g-2"></div>
        </div>

        <div class="ui-g">
            <div class="ui-g-3">
                <p:panel style="width: 100%;background: whitesmoke" rendered="#{detalleSupEntidadMB.menuPrincipalDetalleSupEntidad}">

                    <!--MENU POSTULADOS-->
                    <div class="ui-g">
                        <div class="ui-g-1" > 
                            <p:graphicImage name="images/imgEstudiante.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Postulados" action="#{detalleSupEntidadMB.Menu(1)}" update="formSupervisorEntidad" 
                                             style="font-size: 16px;font-weight: bold;width: 100%; height: 100%; text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>

                    <!--MENU ASIGNADOS-->
                    <div class="ui-g">
                        <div class="ui-g-1"> 
                            <p:graphicImage name="images/imgUsers.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Asignados" action="#{detalleSupEntidadMB.Menu(2)}" update="formSupervisorEntidad" 
                                             style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>

                    <!--MENU RETIRO ESTUDIANTE-->
                    <div class="ui-g">
                        <div class="ui-g-1" > 
                            <p:graphicImage name="images/imgUsersX.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Retiro Estudiante" action="#{detalleSupEntidadMB.Menu(3)}" update="formSupervisorEntidad" 
                                             style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>

                    <!--MENU NOTIFICACIONES-->
                    <div class="ui-g">
                        <div class="ui-g-1" > 
                            <p:graphicImage name="images/imgConvenio.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                        </div>
                        <div class="ui-g-10"> 
                            <p:commandButton value="Notificaciones" action="#{detalleSupEntidadMB.Menu(4)}" update="formSupervisorEntidad" 
                                             style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                        </div>
                    </div>
                </p:panel>
            </div>
            <div class="ui-g-12"  style="padding: 0px;">
                <p:panel  style="border: 0px;" rendered="#{detalleSupEntidadMB.submenuPrincipalDetalleSupEntidad}">
                    <p:panel id="pnGrillaPostulados" style="width: 100%;" rendered="#{detalleSupEntidadMB.subMenuGrillaPostulados}">
                        <div>
                            <ui:include src="./../secciones/GrillaDetallePracticanteSubEntidad.xhtml" />
                        </div>
                    </p:panel>
                    <p:panel id="pnGrillaRetiro" style="width: 100%;" rendered="#{detalleSupEntidadMB.subMenuGrillaRetirados}">
                        <div>
                            <ui:include src="./../secciones/GrillaDetallePracticanteSubEntidadRetiro.xhtml" />
                        </div>
                    </p:panel>
                    <p:panel id="pnVistaPostulados" style="width: 100%;" rendered="#{detalleSupEntidadMB.panDetalleSupEntidad}">
                        <div>
                            <ui:include src="./../vistas/VistaDetalleSupEntidad.xhtml"  />       
                        </div>
                    </p:panel>
                    <p:panel id="pnGrillaNovedadEntidad" style="width: 100%; " rendered="#{detalleSupEntidadMB.menuNotificaciones}">
                        <div>
                            <ui:include src="./../secciones/GrillaNovedad.xhtml" />
                        </div>
                    </p:panel> 
                </p:panel>
            </div>
        </div>
    </h:form>
</ui:composition>