<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-3"></div>
        <div class="ui-g-6">
            <br/>
            <br/>
            <p:panel style="background: whitesmoke;margin-bottom: 10%" >
                <br/><br/>

                <p:outputLabel value="#{msg['label.HorarioPractica.practica.seqConvenioPracticante']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{horarioPracticaMB.horarioPractica.practica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.HorarioPractica.practica.tipoPractica']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{horarioPracticaMB.horarioPractica.practica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.HorarioPractica.practica.datVigenciaDesde']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:calendar value="#{horarioPracticaMB.horarioPractica.practica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.HorarioPractica.practica.datVigenciaHasta']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:calendar value="#{horarioPracticaMB.horarioPractica.practica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.HorarioPractica.practica.estadoPractica']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{horarioPracticaMB.horarioPractica.practica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.HorarioPractica.practica.pazYSalvo']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{horarioPracticaMB.horarioPractica.practica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.HorarioPractica.practica.cartaReferenciacion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{horarioPracticaMB.horarioPractica.practica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.HorarioPractica.dia']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{horarioPracticaMB.horarioPractica.dia}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.HorarioPractica.horaInicio']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:calendar value="#{horarioPracticaMB.horarioPractica.horaInicio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.HorarioPractica.horaFin']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:calendar value="#{horarioPracticaMB.horarioPractica.horaFin}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.HorarioPractica.tipoPractica']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{horarioPracticaMB.horarioPractica.tipoPractica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>

                <p:commandButton id="btGuardar" actionListener="#{horarioPracticaMB.onGuardarRegistro()}" value="#{msg['label.botonGuardar']}" icon="fa fa-save" style="margin-left: 40%;"/>
                <p:commandButton   id="btCancelar" value="#{msg['label.botonCancelar']}" icon="fa fa-undo" actionListener="#{horarioPracticaMB.onCancelar()}"  update="panHorarioPractica" immediate="true" /> 
            </p:panel>
        </div>
        <div class="ui-g-3"></div>
    </div>
</ui:composition>