<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-3"></div>
        <div class="ui-g-6">
            <br/>
            <br/>
            <p:panel style="background: whitesmoke;margin-bottom: 10%" >
                <br/><br/>

                <p:outputLabel value="#{msg['label.EvaluarEntidad.practicanteConvenio.seqPracticante']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.practicanteConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.practicanteConvenio.seqSupervisorEntidad']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.practicanteConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.practicanteConvenio.seqCronograma']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.practicanteConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.practicanteConvenio.seqOfertaLaboral']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.practicanteConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.practicanteConvenio.estadoAprobado']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.practicanteConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.practicanteConvenio.estadoConvenio']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.practicanteConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.practicanteConvenio.estadoPracticante']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.practicanteConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.practicanteConvenio.aprobado']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.practicanteConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.practicanteConvenio.observacion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.practicanteConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.practicanteConvenio.datVigPeriodoDesde']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:calendar value="#{evaluarEntidadMB.evaluarEntidad.practicanteConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.practicanteConvenio.datVigPeriodoHasta']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:calendar value="#{evaluarEntidadMB.evaluarEntidad.practicanteConvenio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.detalleSupPractica.estadoPractica']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.detalleSupPractica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.detalleSupPractica.bloqueado']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.detalleSupPractica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.detalleSupPractica.datVigenciaDesde']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:calendar value="#{evaluarEntidadMB.evaluarEntidad.detalleSupPractica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.detalleSupPractica.datVigenciaHasta']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:calendar value="#{evaluarEntidadMB.evaluarEntidad.detalleSupPractica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.evaluacion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{evaluarEntidadMB.evaluarEntidad.evaluacion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.EvaluarEntidad.observaciones']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputTextarea  rows="5" cols="30"  counter="display"  autoResize="false" value="#{evaluarEntidadMB.evaluarEntidad.observaciones}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>

                <p:commandButton id="btGuardar" actionListener="#{evaluarEntidadMB.onGuardarRegistro()}" value="#{msg['label.botonGuardar']}" icon="fa fa-save" style="margin-left: 40%;"/>
                <p:commandButton   id="btCancelar" value="#{msg['label.botonCancelar']}" icon="fa fa-undo" actionListener="#{evaluarEntidadMB.onCancelar()}"  update="panEvaluarEntidad" immediate="true" /> 
            </p:panel>
        </div>
        <div class="ui-g-3"></div>
    </div>
</ui:composition>