
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:panel style=" border: none; background-color: whitesmoke;" >
        <h:panelGrid  style="background: whitesmoke;margin-bottom: 10%; width: 100%;" columns="1">
            <p:column>
                <p:outputLabel  value="#{msg['label.titulo.novedades']}:" style="font-size: 15px;margin-left: 3%;"/>
                <br/>
                <p:inputText value="#{novedadPersonaMB.novedadPersona.novedad}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left: 3%;"/>
                <br/>
                <p:outputLabel  value="#{msg['header.grilla.Practica.tipoPractica']}:" style="font-size: 15px;margin-left: 3%;"/>                          
                <h:selectOneMenu id="idBtnTipoConsulta" value="#{novedadPersonaMB.numeroTipoNovedad}"  requiredMessage="Debe Seleccionar un Tipo Evento" style="padding: 5px; font-size: 14px; width:182px; height: 28px; margin-left: 5%;">
                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{novedadPersonaMB.numeroTipoNovedad}" />
                    <f:selectItems value="#{tipoNovedadMB.listTipoNovedad}" var ="item" itemLabel="#{item.novedad}" itemValue="#{item.seqTipoNovedad}"  />
                </h:selectOneMenu>   
                <br/>
                <br/>
                <p:outputLabel  value="#{msg['label.descripcion']}:" style="font-size: 15px;margin-left: 3%;"/>
                <br/>
                <p:inputTextarea  value="#{novedadPersonaMB.novedadPersona.descripcion}" rows="5" cols="30"    autoResize="false"  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left: 3%;"/>
                <br/>                
                <p:outputLabel  value="#{msg['label.observacionesAdicionales']}:" style="font-size: 15px;margin-left: 3%;"/>
                <br/>
                <p:inputTextarea  value="#{novedadPersonaMB.observacionesAdicionales}" rows="5" cols="30"    autoResize="false"  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left: 3%;"/>
            </p:column>
            <h:panelGrid style="text-align: center; width: 100%;">
                <p:commandButton id="idBtnGuardarRetroalimentacionNovedad" value="#{msg['label.botonGuardar']}" actionListener="#{novedadPersonaMB.GuardarRetroalimentacionProceso(eventoMB.practicante.seqPersona)}"  update="formSesionConsejeria" process="@form" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold; margin-left: 3%;"/>  
            </h:panelGrid>

        </h:panelGrid>
    </p:panel>  
</ui:composition>
