<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-3"></div>
        <div class="ui-g-6">
            <br/>
            <br/>
            <p:panel style="background: whitesmoke;margin-bottom: 10%" >
                <br/><br/>

                <p:outputLabel value="#{msg['label.TipoEvento.codigo']} " style="font-size: 15px;margin-left: 5%;" />
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;" />
                <br/>

                <p:inputText value="#{tipoEventoMB.tipoEvento.codigo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" required="true" requiredMessage="Debe llenar el campo"/>
                <br/>

                <p:outputLabel value="#{msg['label.TipoEvento.nombre']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{tipoEventoMB.tipoEvento.nombre}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" required="true" requiredMessage="Debe llenar el campo"/>
                <br/>

                <p:outputLabel value="#{msg['label.TipoEvento.desTipoEvento']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{tipoEventoMB.tipoEvento.desTipoEvento}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;" required="true" requiredMessage="Debe llenar el campo"/>
                <br/>


                <p:commandButton rendered="#{tipoEventoMB.botonDesabilidar}" id="idBtnGuardarTipoEvento" actionListener="#{tipoEventoMB.onGuardarRegistro()}" value="#{msg['label.botonGuardar']}"  icon="fa fa-save" update="panTipoEvento" style="margin-left: 40%;"/>
                <p:commandButton rendered="#{tipoEventoMB.botonHabilitar}" id="idBtnActualizarTipoEvento" actionListener="#{tipoEventoMB.onActulizarRegistro()}" value="Actualizar" icon="fa fa-save"   update="panTipoEvento" style="margin-left: 40%;"/>
                <p:commandButton   id="idBtnCancelarTipoEvento" value="#{msg['label.botonCancelar']}" icon="fa fa-undo" actionListener="#{tipoEventoMB.onCancelar()}"  update="panTipoEvento" immediate="true" /> 
            </p:panel>
        </div>
        <div class="ui-g-3"></div>
    </div>
</ui:composition>