<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <br/>
            <br/>
            <p:panel style="background: whitesmoke;margin-bottom: 10%" >
                <br/><br/>

                <!--                <p:outputLabel value="{msg['label.AgendaEvento.evento.asunto']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.evento.asunto}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.evento.ubicacion']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.evento.ubicacion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.evento.fechaInicio']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:calendar value="{agendaEventoMB.agendaEvento.evento.fechaInicio}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>-->

                <!--                <br/>
                <p:outputLabel value="{msg['label.AgendaEvento.evento.horaInicio']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:calendar value="{agendaEventoMB.agendaEvento.evento}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                -->
                <!--                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.evento.fechaFin']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:calendar value="{agendaEventoMB.agendaEvento.evento.fechaFin}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>-->

                <!--                <p:outputLabel value="{msg['label.AgendaEvento.evento.horaFin']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>                
                                <p:calendar value="{agendaEventoMB.agendaEvento.evento}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>-->

                <!--                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.nombres']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{eventoMB.agendaEvento.personaProgramadorEvento.nombres}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.apellidos']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.apellidos}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.cedula']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.cedula}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.lugarExpedicion']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.lugarExpedicion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.codigo']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.codigo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.cargo']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.cargo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.correoInstiCorp']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.correoInstiCorp}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.correoAlternativo']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.correoAlternativo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.telefono']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.telefono}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.celular']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.celular}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.direccion']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.direccion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.datVigenciaDesde']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:calendar value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.datVigenciaDesde}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.personaProgramadorEvento.datVigenciaHasta']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:calendar value="{agendaEventoMB.agendaEvento.personaProgramadorEvento.datVigenciaHasta}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                -->
                <br/>
                <p:outputLabel value="#{msg['label.AgendaEvento.persona.nombres']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{eventoMB.agendaEvento.persona.nombres}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.AgendaEvento.persona.apellidos']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{eventoMB.agendaEvento.persona.apellidos}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.AgendaEvento.persona.cedula']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{eventoMB.agendaEvento.persona.cedula}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <!--                <p:outputLabel value="{msg['label.AgendaEvento.persona.lugarExpedicion']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{eventoMB.agendaEvento.persona.lugarExpedicion}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>-->
                <p:outputLabel value="#{msg['label.AgendaEvento.persona.codigo']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{eventoMB.agendaEvento.persona.codigo}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.AreaEscolaris.programaEscolaris']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{eventoMB.programa}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <!--                <p:outputLabel value="{msg['label.AgendaEvento.persona.cargo']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{eventoMB.agendaEvento.persona.cargo}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>-->
                <!--                <p:outputLabel value="{msg['label.AgendaEvento.persona.correoInstiCorp']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{eventoMB.agendaEvento.persona.correoInstiCorp}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.persona.correoAlternativo']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{eventoMB.agendaEvento.persona.correoAlternativo}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.persona.telefono']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{eventoMB.agendaEvento.persona.telefono}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.persona.celular']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{eventoMB.agendaEvento.persona.celular}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.persona.direccion']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{eventoMB.agendaEvento.persona.direccion}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.persona.datVigenciaDesde']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{eventoMB.agendaEvento.persona.datVigenciaDesde}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.AgendaEvento.persona.datVigenciaHasta']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>
                                <p:inputText value="{eventoMB.agendaEvento.persona.datVigenciaHasta}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>-->
                <p:outputLabel value="#{msg['label.AgendaEvento.observacion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.agendaEvento.observacion}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.AgendaEvento.estadoEvento']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.agendaEvento.estadoEvento}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>

                <!--                <p:commandButton id="idBtnGuardarAgendaEvento" actionListener="{agendaEventoMB.onGuardarRegistro()}" value="{msg['label.botonGuardar']}" icon="fa fa-save" update="formSesionConsejeria" style="margin-left: 40%;"/>-->
                <p:commandButton   id="idBtnCancelarAgendaEvento" value="Devolver" icon="fa fa-undo" actionListener="#{eventoMB.onCancelar()}"  update="formSesionConsejeria" immediate="true" style="margin-left: 40%; text-align: center;" /> 
            </p:panel>
        </div>
        <div class="ui-g-1"></div>
    </div>
</ui:composition>