<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:tabView rendered="#{eventoMB.menuestudiante}">
        <div class="ui-g">
            <!--        <div class="ui-g-1"></div>-->
            <div class="ui-g-12">
                <!--                            Consultar-->
                <p:tab title="Consultar">
                    <ui:include src="MenuDetalleConsAcademica.xhtml"  /> 
                    <p:panel id="pnConsultarEstudiante" style="width: 100%;">
                        <div>
                            <ui:include src="./../secciones/GrillaDetallePracticanteConsAcademica.xhtml"/>
                        </div>
                    </p:panel>
                </p:tab>
            </div>
        </div>
    </p:tabView>

    <p:tabView rendered="#{eventoMB.menuestudianteDetalle}">
        <div class="ui-g">
            <!--        <div class="ui-g-1"></div>-->
            <div class="ui-g-12">
                <!--                            Consultar-->
                <p:tab title="Detalle">
                    <f:facet name="actions">
                        <p:menuButton value="Menú" style="text-align: left;">
                            <p:menuitem icon="fa fa-user" value="Estudiantes"  actionListener="#{eventoMB.MenuInterno(1)}" update="formSesionConsejeria"/>
                        </p:menuButton>
                    </f:facet>
                    <p:panel id="pnConsultarEstudianteDetalle" style="width: 100%;" >
                        <div>
                            <ui:include src="./../secciones/FormularioDetalleConsAcademicaPersona.xhtml"/>
                        </div>
                    </p:panel>         
                </p:tab>
                <p:tab title="Crear Notificaciones">
                    <f:facet name="actions">
                        <p:menuButton value="Menú" style="text-align: left;">
                            <p:menuitem icon="fa fa-user" value="Estudiantes"  actionListener="#{eventoMB.MenuInterno(1)}" update="formSesionConsejeria"/>
                        </p:menuButton>
                    </f:facet>
                    <p:panel id="pnConsultarEstudianteCrearNOtificaciones" style="width: 100%;">
                        <div>
                            <ui:include src="./../secciones/FormularioDetalleConsAcademicaNovedad.xhtml"/>
                        </div>
                    </p:panel>
                </p:tab>
            </div>
        </div>
    </p:tabView>



    <p:tabView rendered="#{eventoMB.menuSesionConsejeria}" >
        <div class="ui-g">
            <div class="ui-g-1"></div>
            <div class="ui-g-12">
                <!--                            PARTE Consejeria-->
                <p:tab title="Consejería"  >
                    <ui:include src="MenuDetalleConsAcademica.xhtml" /> 
                    <p:panel id="pnCalendarioConsejeriaIndivual" style="width: 100%;" >
                        <div>
                            <ui:include src="./../secciones/CronogramaDetalleConsAcademica.xhtml" />
                        </div>
                    </p:panel>
                </p:tab><!--

                            PARTE DESEMPEÑO POSTULADOS-->               
                <p:tab title="Registro Sesión">
                    <ui:include src="MenuDetalleConsAcademica.xhtml"  /> 
                    <p:panel id="pnRegistroSesion" style="width: 100%;">
                        <div>
                            <ui:include src="./../secciones/FormularioSesionConsejeria.xhtml" />
                        </div>
                    </p:panel> 
                </p:tab>

                <p:tab title="Consultar Sesión">
                    <ui:include src="MenuDetalleConsAcademica.xhtml"  /> 
                    <p:panel id="pnConsultarConsejeriaAcademicas" style="width: 100%;">
                        <div >
                            <ui:include src="./../secciones/GrillaEvento.xhtml"  />       
                        </div>                     
                    </p:panel>
                </p:tab>
            </div>
        </div>
    </p:tabView>


    <p:tabView rendered="#{eventoMB.menuNotificaciones}">
        <div class="ui-g">
            <div class="ui-g-1"></div>
            <div class="ui-g-12">
                <!--                            PARTE POSTULADOS PROCESO-->
                <p:tab title="Notificaciones" >
                    <ui:include src="MenuDetalleConsAcademica.xhtml"  /> 
                    <p:panel id="pnConsultarNotificaciones" style="width: 100%;">
                        <div>
                            <ui:include src="./../secciones/GrillaSesionConsejeria.xhtml"/>
                        </div>
                    </p:panel>
                </p:tab>

            </div>
        </div>
    </p:tabView>
</ui:composition>


