<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:form id="frmInicio">
        <p:growl id="growl" showDetail="true" sticky="true" showSummary="false" autoUpdate="true"/> 
        <div class="ui-g">
            <div class="ui-g-6"></div>
            <div class="ui-g-2">
                <p:outputLabel value="Usuario"/>
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <p:inputText id="itxUsuario" style="margin-top:2%;width: 90%" value="#{inicioMB.usuarioSesion.usuario}"  
                             required="false" requiredMessage="Ingrese contraseña"  />
            </div>
            <div class="ui-g-2">
                <p:outputLabel value="Contraseña" />
                <span class="ui-inputgroup-addon"><i class="fa fa-unlock-alt"></i></span> <br/>
                <p:password id="psUsuario" value="#{inicioMB.usuarioSesion.contrasenia}"  style="margin-top:1%;width: 90%"   
                            required="false" requiredMessage="Ingrese contraseña" maxlength="12"/>
                <br/>               
            </div>
            <div class="ui-g-2">
                <br/>
                <p:commandButton action="#{inicioMB.onIngresar}" id="btEntrar" style="margin-top: 1%;width: 50%"
                                 value="Ingresar" icon="fa fa-hand-o-right"/>
            </div>
        </div>

    </h:form>
</ui:composition>