<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <br/>
            <br/>
            <p:panel style="background: whitesmoke;margin-bottom: 10%">
                <br/><br/>
                <p:outputLabel value="#{msg['label.Persona.nombres']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.practicante.nombres}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Persona.apellidos']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.practicante.apellidos}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Persona.cedula']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.practicante.cedula}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Persona.lugarExpedicion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.practicante.lugarExpedicion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Persona.codigo']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.practicante.codigo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Persona.cargo']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.practicante.cargo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Persona.correoInstiCorp']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.practicante.correoInstiCorp}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Persona.correoAlternativo']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.practicante.correoAlternativo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Persona.telefono']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.practicante.telefono}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Persona.celular']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.practicante.celular}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Persona.direccion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{eventoMB.practicante.direccion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <!--                <p:outputLabel value="{msg['label.Persona.datVigenciaDesde']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>           
                                <p:inputText value="{eventoMB.practicante.datVigenciaDesde.toLocaleString}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>
                                <p:outputLabel value="{msg['label.Persona.datVigenciaHasta']} " style="font-size: 15px;margin-left: 5%;"/>
                                <p:outputLabel value="{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                                <br/>           
                                <p:inputText  value="{eventoMB.practicante.datVigenciaHasta.date}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                                <br/>-->

                <h:panelGrid columns="2" style="text-align: center; width: 100%;">
                    <p:commandButton id="idbtnDevolverForm"   action="#{eventoMB.devolver()}" value="#{msg['label.botonCancelar']}" icon="fa fa-undo" update="formSesionConsejeria"/>
                    <!--                    <p:commandButton   id="idbtnCancelarSesionConsejeria" value="{msg['label.botonCancelar']}" icon="fa fa-undo" actionListener="{eventoMB.onCancelarRegistro()}"  update="formSesionConsejeria" immediate="true" /> -->
                </h:panelGrid>
            </p:panel>
        </div>
        <div class="ui-g-1"></div>
    </div>
</ui:composition>
