<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-3"></div>
        <div class="ui-g-6">
            <br/>
            <br/>
            <p:panel style="background: whitesmoke;margin-bottom: 10%" >
                <br/><br/>

                <p:outputLabel value="#{msg['label.Entidad.fichaTecnica.nombre']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{entidadMB.entidad.fichaTecnica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.fichaTecnica.codigo']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{entidadMB.entidad.fichaTecnica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.fichaTecnica.estado']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>
                <p:inputText value="#{entidadMB.entidad.fichaTecnica}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.nit']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{entidadMB.entidad.nit}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.nombre']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{entidadMB.entidad.nombre}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.estadoEntidad']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{entidadMB.entidad.estadoEntidad}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.correoElectronico']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{entidadMB.entidad.correoElectronico}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.direccion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{entidadMB.entidad.direccion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.telefono']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{entidadMB.entidad.telefono}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.representante']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{entidadMB.entidad.representante}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.estrato']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{entidadMB.entidad.estrato}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.objetoSocial']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{entidadMB.entidad.objetoSocial}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.observacion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{entidadMB.entidad.observacion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>
                <p:outputLabel value="#{msg['label.Entidad.estadoMostrar']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>           
                <p:inputText value="#{entidadMB.entidad.estadoMostrar}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>

                <p:commandButton rendered="#{entidadMB.botonDesabilidar}" id="idBtnGuardarEntidad" actionListener="#{entidadMB.onGuardarRegistro()}" value="#{msg['label.botonGuardar']}" icon="fa fa-save" update="panEntidad" style="margin-left: 40%;"/>
                <p:commandButton rendered="#{entidadMB.botonHabilitar}" id="idBtnActualizarFrmEntidad" actionListener="#{entidadMB.onActulizarRegistro()}" value="Actualizar" icon="fa fa-save" update="panEntidad" style="margin-left: 40%;"/>
                <p:commandButton   id="idBtnCancelarEntidad" value="#{msg['label.botonCancelar']}" icon="fa fa-undo" actionListener="#{entidadMB.onCancelar()}"  update="panEntidad" immediate="true" /> 
            </p:panel>
        </div>
        <div class="ui-g-3"></div>
    </div>
</ui:composition>