<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-3"></div>
        <div class="ui-g-6">
            <br/>
            <br/>
            <p:panel style="background: whitesmoke;margin-bottom: 10%" >
                <br/><br/>

                <p:outputLabel value="#{msg['label.CompetenciaIndicador.codigo']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{competenciaIndicadorMB.competenciaIndicador.codigo}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>

                <p:outputLabel value="#{msg['label.CompetenciaIndicador.competencia']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{competenciaIndicadorMB.competenciaIndicador.competencia}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>

                <p:outputLabel value="#{msg['label.CompetenciaIndicador.descripcion']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{competenciaIndicadorMB.competenciaIndicador.descripcion}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>

                <p:outputLabel value="#{msg['label.CompetenciaIndicador.estadoVisible']} " style="font-size: 15px;margin-left: 5%;"/>
                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size:20px;margin-top:10%;"/>
                <br/>

                <p:inputText value="#{competenciaIndicadorMB.competenciaIndicador.estadoVisible}" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
                <br/>


                <p:commandButton rendered="#{competenciaIndicadorMB.botonDesabilidar}" id="idBtnGuardarCompetenciaIndicador" actionListener="#{competenciaIndicadorMB.onGuardarRegistro()}" value="#{msg['label.botonGuardar']}" icon="fa fa-save" update="panCompetenciaIndicador" style="margin-left: 40%;"/>
                <p:commandButton rendered="#{competenciaIndicadorMB.botonHabilitar}" id="idBtnActualizarFrmCompetenciaIndicador" actionListener="#{competenciaIndicadorMB.onActulizarRegistro()}" value="Actualizar" icon="fa fa-save" update="panCompetenciaIndicador" style="margin-left: 40%;"/>
                <p:commandButton   id="idBtnCancelarCompetenciaIndicador" value="#{msg['label.botonCancelar']}" icon="fa fa-undo" actionListener="#{competenciaIndicadorMB.onCancelar()}"  update="panCompetenciaIndicador" immediate="true" /> 
            </p:panel>
        </div>
        <div class="ui-g-3"></div>
    </div>
</ui:composition>