<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:dataTable id="dtEvento" 
                 var="eve" 
                 value="#{eventoMB.listEventoNotificaciones}"                                       
                 reflow="true"  
                 filteredValue="#{eventoMB.eventoFiltradas}"
                 rows="12"
                 paginatorPosition="bottom"
                 paginator="true"
                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                 emptyMessage="No se encontró información registrada de Evento"
                 style="font-size: 11px"
                 selectionMode="single" 
                 selection="#{eventoMB.agendaEvento}" rowKey="#{eve.seqAgendaEvento}">


        <p:column headerText="#{msg['header.grilla.Evento.asunto']}" style="text-align:center;font-size: 11px"
                  filterBy="#{eve.evento.asunto}" filterMatchMode="contains"
                  sortBy="#{eve.evento.asunto}"
                  >
            <h:outputText value="#{eve.evento.asunto}" style="font-size: 12px" />
        </p:column>
        <p:column headerText="#{msg['header.grilla.Evento.ubicacion']}" style="text-align:center;font-size: 11px"
                  filterBy="#{eve.evento.ubicacion}" filterMatchMode="contains"
                  sortBy="#{eve.evento.ubicacion}"
                  >
            <h:outputText value="#{eve.evento.ubicacion}" style="font-size: 12px" />
        </p:column>
        <p:column headerText="#{msg['header.grilla.Evento.fechaInicio']}" style="text-align:center;font-size: 11px"
                  filterBy="#{eve.evento.fechaInicio}" filterMatchMode="contains"
                  sortBy="#{eve.evento.fechaInicio}"
                  >
            <h:outputText value="#{eve.evento.fechaInicioEs}" style="font-size: 12px" />
        </p:column>
        <p:column headerText="#{msg['header.grilla.Evento.fechaFin']}" style="text-align:center;font-size: 11px"
                  filterBy="#{eve.evento.fechaFin}" filterMatchMode="contains"
                  sortBy="#{eve.evento.fechaFin}"
                  >
            <h:outputText value="#{eve.evento.fechaFinEs}" style="font-size: 12px" />
        </p:column>

        <p:column headerText="#{msg['header.grilla.Evento.tipoEvento.desTipoEvento']}" style="text-align:center;font-size: 11px"
                  filterBy="#{eve.evento.tipoEvento.nombre}" filterMatchMode="contains"
                  sortBy="#{eve.evento.tipoEvento.nombre}"
                  >
            <h:outputText value="#{eve.evento.tipoEvento.nombre}" style="font-size: 12px" />
        </p:column>

        <p:column headerText="#{msg['header.grilla.AgendaEvento.persona.codigo']}" style="text-align:center;font-size: 11px"
                  filterBy="#{eve.persona.codigo}" filterMatchMode="contains"
                  sortBy="#{eve.persona.codigo}"
                  >
            <h:outputText value="#{eve.persona.codigo}" style="font-size: 12px" />
        </p:column>

        <p:column style="width:32px;text-align: center" headerText="Detalle">
            <p:commandButton  icon="fa fa-plus-square" title="View" style="background: lightslategray" update="formSesionConsejeria" oncomplete="PF('DetalleGrillaEvento').show();" actionListener="#{eventoMB.grillaEventoInformacion(eve.evento.seqDetalleEvento)}">
            </p:commandButton>
        </p:column>
    </p:dataTable>  



    <p:dialog  widgetVar="DetalleGrillaEvento" header="Detalle Evento" showEffect="clip" hideEffect="clip" responsive="true" modal="true">
        <h:panelGrid id="PanDetalleGrillaEvento" columns="3">
            <br/>
            <p:outputLabel value="#{msg['label.AgendaEvento.persona.nombres']} " style="font-size: 15px;"/>
            <p:inputText value="#{eventoMB.agendaEvento.persona.nombres}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
            <br/>
            <p:outputLabel value="#{msg['label.AgendaEvento.persona.apellidos']} " style="font-size: 15px;"/>
            <p:inputText value="#{eventoMB.agendaEvento.persona.apellidos}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
            <br/>
            <p:outputLabel value="#{msg['label.AgendaEvento.persona.cedula']} " style="font-size: 15px;"/>
            <p:inputText value="#{eventoMB.agendaEvento.persona.cedula}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
            <br/>
            <p:outputLabel value="#{msg['label.AgendaEvento.persona.codigo']} " style="font-size: 15px;"/>
            <p:inputText value="#{eventoMB.agendaEvento.persona.codigo}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
            <br/>
            <p:outputLabel value="#{msg['label.AreaEscolaris.programaEscolaris']} " style="font-size: 15px;"/>
            <p:inputText value="#{eventoMB.programa}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
            <br/>
            <p:outputLabel value="#{msg['label.AgendaEvento.observacion']} " style="font-size: 15px;"/>        
            <p:inputTextarea value="#{eventoMB.agendaEvento.observacion}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
            <br/>
            <p:outputLabel value="#{msg['label.AgendaEvento.estadoEvento']} " style="font-size: 15px;"/>       
            <p:inputText value="#{eventoMB.agendaEvento.estadoEvento}" readonly="true" style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:88%;margin-bottom:5%;margin-left: 5%;"/>
        </h:panelGrid>
    </p:dialog>   
</ui:composition>