<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel>
        <p:dataTable id="dtEntidad" 
                     var="ent" 
                     value="#{entidadMB.listEntidad}"                                       
                     reflow="true"  
                     filteredValue="#{entidadMB.entidadFiltradas}"
                     rows="12"
                     paginatorPosition="bottom"
                     paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     emptyMessage="No se encontró información registrada de Entidad"
                     style="font-size: 11px"
                     selection="#{entidadMB.entidad}" rowKey="#{ent.seqEntidad}">

            <p:column selectionMode="single" style="width:20px;text-align:center"/>
            <p:column headerText="#{msg['header.grilla.Entidad.nit']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ent.nit}" filterMatchMode="contains"
                      sortBy="#{ent.nit}"
                      >
                <h:outputText value="#{ent.nit}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Entidad.nombre']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ent.nombre}" filterMatchMode="contains"
                      sortBy="#{ent.nombre}"
                      >
                <h:outputText value="#{ent.nombre}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Entidad.estadoEntidad']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ent.estadoEntidad}" filterMatchMode="contains"
                      sortBy="#{ent.estadoEntidad}"
                      >
                <h:outputText value="#{ent.estadoEntidad}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Entidad.correoElectronico']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ent.correoElectronico}" filterMatchMode="contains"
                      sortBy="#{ent.correoElectronico}"
                      >
                <h:outputText value="#{ent.correoElectronico}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Entidad.direccion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ent.direccion}" filterMatchMode="contains"
                      sortBy="#{ent.direccion}"
                      >
                <h:outputText value="#{ent.direccion}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Entidad.telefono']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ent.telefono}" filterMatchMode="contains"
                      sortBy="#{ent.telefono}"
                      >
                <h:outputText value="#{ent.telefono}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Entidad.representante']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ent.representante}" filterMatchMode="contains"
                      sortBy="#{ent.representante}"
                      >
                <h:outputText value="#{ent.representante}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Entidad.estrato']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ent.estrato}" filterMatchMode="contains"
                      sortBy="#{ent.estrato}"
                      >
                <h:outputText value="#{ent.estrato}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Entidad.objetoSocial']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ent.objetoSocial}" filterMatchMode="contains"
                      sortBy="#{ent.objetoSocial}"
                      >
                <h:outputText value="#{ent.objetoSocial}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Entidad.observacion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ent.observacion}" filterMatchMode="contains"
                      sortBy="#{ent.observacion}"
                      >
                <h:outputText value="#{ent.observacion}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Entidad.estadoMostrar']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ent.estadoMostrar}" filterMatchMode="contains"
                      sortBy="#{ent.estadoMostrar}"
                      >
                <h:outputText value="#{ent.estadoMostrar}" style="font-size: 12px" />
            </p:column>
        </p:dataTable>

        <p:commandButton id="idBtnCrearEntidad" actionListener="#{entidadMB.onCrearRegistro}" update="panEntidad" value="Crear" icon="fa fa-plus">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnCrearEntidad" value="Crear Registro"></p:tooltip>
        </p:commandButton>


        <p:commandButton id="idBtnActualizarEntidad" actionListener="#{entidadMB.onVistaActualizar()}" update="panEntidad" value="Actualizar" icon="fa fa-edit">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnActualizarEntidad" value="Actualizar Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnBorrarEntidad" actionListener="#{entidadMB.onBorrar}" update="panEntidad" value="Borrar" icon="fa fa-close">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnBorrarEntidad" value="Borrar Registro"></p:tooltip>
            <p:confirm header="Confimación" message="Esta seguro de borrar el registro?" icon="ui-icon-alert"/>
        </p:commandButton>


        <!-- <h:commandLink id="expExcelEntidad">
             <p:graphicImage  width="25px" height="25px" value="/resources/images/descarga.png" />
             <p:dataExporter type="xls" target="dtEntidad" fileName="entidad" />
         </h:commandLink>
         <p:tooltip position="top" style="font-size: 12px" for="expExcelEntidad">Descargar a Excel</p:tooltip>!-->

        <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </p:panel>
</ui:composition>