<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <br/>
    <p:dataTable id="idDatSesionConsejeria" 
                 var="ses" 
                 value="#{sesionConsejeriaMB.listSesionConsejeria}"                                       
                 reflow="true"  
                 filteredValue="#{sesionConsejeriaMB.sesionConsejeriaFiltradas}"
                 rows="12"
                 paginatorPosition="bottom"
                 paginator="true"
                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                 emptyMessage="No se encontró información registrada de SesionConsejeria"
                 style="font-size: 11px;"
                 selectionMode="single" 
                 selection="#{eventoMB.sesionConsejeria}" rowKey="#{ses.seqSesionConsejeria}"
                 >


        <p:column headerText="#{msg['header.grilla.SesionConsejeria.nombreSesion']}" style="text-align:center;font-size: 11px"
                  filterBy="#{ses.nombreSesion}" filterMatchMode="contains"
                  sortBy="#{ses.nombreSesion}"
                  >
            <h:outputText value="#{ses.nombreSesion}" style="font-size: 12px" />
        </p:column>
        <p:column headerText="#{msg['header.grilla.SesionConsejeria.tipoConsulta']}" style="text-align:center;font-size: 11px"
                  filterBy="#{ses.tipoConsulta}" filterMatchMode="contains"
                  sortBy="#{ses.tipoConsulta}"
                  >
            <h:outputText value="#{ses.tipoConsulta}" style="font-size: 12px" />
        </p:column>
        <p:column headerText="#{msg['header.grilla.SesionConsejeria.datSesion']}" style="text-align:center;font-size: 11px"
                  filterBy="#{ses.datSesion}" filterMatchMode="contains"
                  sortBy="#{ses.datSesion}"
                  >
            <h:outputText value="#{ses.datSesion}" style="font-size: 12px" />
        </p:column>
        <p:column headerText="#{msg['header.grilla.SesionConsejeria.descripcionSesion']}" style="text-align:center;font-size: 11px"
                  filterBy="#{ses.descripcionSesion}" filterMatchMode="contains"
                  sortBy="#{ses.descripcionSesion}"
                  >
            <h:outputText value="#{ses.descripcionSesion}" style="font-size: 12px" />
        </p:column>
        <p:column headerText="#{msg['header.grilla.SesionConsejeria.asistencia']}" style="text-align:center;font-size: 11px"
                  filterBy="#{ses.asistencia}" filterMatchMode="contains"
                  sortBy="#{ses.asistencia}"
                  >
            <h:outputText value="#{ses.asistencia}" style="font-size: 12px" />
        </p:column>
        <p:column style="width:32px;text-align: center;font-size: 13px" headerText="Detalle" >
            <p:commandButton icon="fa fa-plus-square" title="Ver" style="background: lightslategray" action="#{detalleCoorPracticasMB.procesoPracticante}" update="formSesionConsejeria">
                <f:setPropertyActionListener value="#{prac}" target="#{detallePracticanteMB.detallePracticante}"/>
            </p:commandButton>
        </p:column>
    </p:dataTable>
    <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>
</ui:composition>