<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel>
        <p:dataTable id="idDatPais" 
                     var="pai" 
                     value="#{paisMB.listPais}"                                       
                     reflow="true"  
                     filteredValue="#{paisMB.paisFiltradas}"
                     rows="12"
                     paginatorPosition="bottom"
                     paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     emptyMessage="No se encontró información registrada de Pais"
                     style="font-size: 11px"
                     selection="#{paisMB.pais}" rowKey="#{pai.seqPais}">

            <p:column selectionMode="single" style="width:20px;text-align:center"/>

            <p:column headerText="#{msg['header.grilla.Pais.codigo']}" style="text-align:center;font-size: 11px"
                      filterBy="#{pai.codigo}" filterMatchMode="contains"
                      sortBy="#{pai.codigo}"
                      >
                <h:outputText value="#{pai.codigo}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Pais.pais']}" style="text-align:center;font-size: 11px"
                      filterBy="#{pai.pais}" filterMatchMode="contains"
                      sortBy="#{pai.pais}"
                      >
                <h:outputText value="#{pai.pais}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Pais.codigoPostal']}" style="text-align:center;font-size: 11px"
                      filterBy="#{pai.codigoPostal}" filterMatchMode="contains"
                      sortBy="#{pai.codigoPostal}"
                      >
                <h:outputText value="#{pai.codigoPostal}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Pais.descripcion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{pai.descripcion}" filterMatchMode="contains"
                      sortBy="#{pai.descripcion}"
                      >
                <h:outputText value="#{pai.descripcion}" style="font-size: 12px" />
            </p:column>
        </p:dataTable>

        <p:commandButton id="idBtnCrearPais" actionListener="#{paisMB.onCrearRegistro}" update="panPais" icon="fa fa-plus" value="Crear">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnCrearPais" value="Crear Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnActualizarPais" actionListener="#{paisMB.onVistaActualizar}" update="panPais" icon="fa fa-edit" value="Actualizar">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnActualizarPais" value="Actualizar Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnBorrarPais" actionListener="#{paisMB.onBorrar}" update="panPais" icon="fa fa-close" value="Borrar">
            <p:confirm header="Confimación" message="Esta seguro de borrar el registro?" icon="ui-icon-alert"/>
            <p:tooltip position="top" style="font-size: 12px" for="idBtnBorrarPais" value="Borrar Registro"></p:tooltip>
        </p:commandButton>


        <!--<h:commandLink id="expExcelPais">
            <p:graphicImage  width="25px" height="25px" value="/resources/images/descarga.png" />
            <p:dataExporter type="xls" target="dtPais" fileName="pais" />
        </h:commandLink>
        <p:tooltip position="top" style="font-size: 12px" for="expExcelPais">Descargar a Excel</p:tooltip>!-->



        <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </p:panel>
</ui:composition>