<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel>
        <p:dataTable id="idDatCompetenciaIndicador" 
                     var="com" 
                     value="#{competenciaIndicadorMB.listCompetenciaIndicador}"                                       
                     reflow="true"  
                     filteredValue="#{competenciaIndicadorMB.competenciaIndicadorFiltradas}"
                     rows="12"
                     paginatorPosition="bottom"
                     paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     emptyMessage="No se encontró información registrada de CompetenciaIndicador"
                     style="font-size: 11px" 
                     selection="#{competenciaIndicadorMB.competenciaIndicador}" rowKey="#{com.seqCompetenciaIndicador}"
                     >

            <p:column selectionMode="single" style="width:20px;text-align:center"/>
            <p:column headerText="#{msg['header.grilla.CompetenciaIndicador.codigo']}" style="text-align:center;font-size: 11px"
                      filterBy="#{com.codigo}" filterMatchMode="contains"
                      sortBy="#{com.codigo}"
                      >
                <h:outputText value="#{com.codigo}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.CompetenciaIndicador.competencia']}" style="text-align:center;font-size: 11px"
                      filterBy="#{com.competencia}" filterMatchMode="contains"
                      sortBy="#{com.competencia}"
                      >
                <h:outputText value="#{com.competencia}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.CompetenciaIndicador.descripcion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{com.descripcion}" filterMatchMode="contains"
                      sortBy="#{com.descripcion}"
                      >
                <h:outputText value="#{com.descripcion}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.CompetenciaIndicador.estadoVisible']}" style="text-align:center;font-size: 11px"
                      filterBy="#{com.estadoVisible}" filterMatchMode="contains"
                      sortBy="#{com.estadoVisible}"
                      >
                <h:outputText value="#{com.estadoVisible}" style="font-size: 12px" />
            </p:column>
        </p:dataTable>

        <p:commandButton id="idBtnCrearCompetenciaIndicador" actionListener="#{competenciaIndicadorMB.onCrearRegistro}" update="panCompetenciaIndicador" value="Crear" icon="fa fa-plus">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnCrearCompetenciaIndicador" value="Crear Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnActualizarCompetenciaIndicador" actionListener="#{competenciaIndicadorMB.onVistaActualizar}" update="panCompetenciaIndicador" value="Actualizar" icon="fa fa-edit">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnActualizarCompetenciaIndicador" value="Actualizar Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnBorrarCompetenciaIndicador" actionListener="#{competenciaIndicadorMB.onBorrar}" update="panCompetenciaIndicador" value="Borrar" icon="fa fa-close">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnBorrarCompetenciaIndicador" value="Borrar Registro"></p:tooltip>
            <p:confirm header="Confimación" message="Esta seguro de borrar el registro?" icon="ui-icon-alert"/>
        </p:commandButton>


        <!--<h:commandLink id="expExcelCompetenciaIndicador">
            <p:graphicImage  width="25px" height="25px" value="/resources/images/descarga.png" />
            <p:dataExporter type="xls" target="dtCompetenciaIndicador" fileName="competenciaIndicador" />
        </h:commandLink>
        <p:tooltip position="top" style="font-size: 12px" for="expExcelCompetenciaIndicador">Descargar a Excel</p:tooltip>!-->


        <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </p:panel>
</ui:composition>