<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <p:tabView >
        <p:tab  title="#{detalleSupEntidadMB.nombreGrilla}">
            <ui:include src="MenuDetalleSupEntidad.xhtml"  /> 
            <p:dataTable id="dtDetallePracticanteRetiro" 
                         var="det" 
                         value="#{novedadPersonaMB.listdetallePracticante}"                                       
                         reflow="true"  
                         filteredValue="#{detallePracticanteMB.detallePracticanteFiltradas}"
                         rows="5"
                         paginatorPosition="bottom"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         emptyMessage="No se encontró información registrada de DetallePracticante"
                         style="font-size: 11px;"

                         selection="#{detallePracticanteMB.detallePracticante}" rowKey="#{det.seqDetallePracticante}">



                <p:column headerText="Código" style="text-align:center;font-size: 13px"
                          filterBy="#{det.persona.codigo}" filterMatchMode="contains"
                          sortBy="#{det.persona.codigo}"
                          >
                    <h:outputText value="#{det.persona.codigo}" style="font-size: 12px" />
                </p:column>

                <p:column headerText="Nombre" style="text-align:center;font-size: 13px"
                          filterBy="#{det.persona.nombres} #{det.persona.apellidos}" filterMatchMode="contains"
                          sortBy="#{det.persona.nombres} #{det.persona.apellidos}"
                          >
                    <h:outputText value="#{det.persona.nombres} #{det.persona.apellidos}" style="font-size: 12px" />
                </p:column>

                <p:column headerText="Cédula" style="text-align:center;font-size: 13px"
                          filterBy="#{det.persona.cedula}" filterMatchMode="contains"
                          sortBy="#{det.persona.cedula}"
                          >
                    <h:outputText value="#{det.persona.cedula}" style="font-size: 12px" />
                </p:column>

                <p:column headerText="Facultad" style="text-align:center;font-size: 13px"
                          filterBy="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}" filterMatchMode="contains"
                          sortBy="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}"
                          >
                    <h:outputText value="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.nomFacultad}" style="font-size: 12px" />
                </p:column>

                <p:column headerText="Estado práctica" style="text-align:center;font-size: 13px"
                          filterBy="#{det.estadoPractica}" filterMatchMode="contains"
                          sortBy="#{det.estadoPractica}"
                          >
                    <h:outputText value="#{det.estadoPractica}" style="font-size: 12px" />
                </p:column>  

                <p:column style="width:auto;text-align: center;" headerText="Retiro">
                    <p:commandButton style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;" update="formSupervisorEntidad" value="Retirar"  actionListener="#{novedadPersonaMB.GuardarRetiroPersona(det.seqDetallePracticante, false)}" />
                </p:column>

            </p:dataTable>
            <br/>
            <br/>

            <p:dialog  widgetVar="RetiroEstDialog" header="Retiro estudiante" showEffect="clip" hideEffect="clip" responsive="true" modal="true">
                <p:panel id="panObservacionesRetirados" style="background: whitesmoke;margin-bottom: 10%">
                    <p:column>
                        <p:outputLabel  value="#{msg['label.titulo.novedades']}:" style="font-size: 15px;margin-left: 3%;"/>
                        <br/>
                        <br/>
                        <p:inputText value="#{novedadPersonaMB.novedadPersona.novedad}"  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left: 3%;"/>
                        <br/>
                        <p:outputLabel  value="#{msg['label.descripcion']}:" style="font-size: 15px;margin-left: 3%;"/>
                        <br/>
                        <p:inputTextarea  value="#{novedadPersonaMB.novedadPersona.descripcion}"  rows="5" cols="30"    autoResize="false"  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left: 3%;"/>
                        <br/>
                        <p:outputLabel  value="#{msg['header.grilla.Convenio.observaciones']}:" style="font-size: 15px;margin-left: 3%;"/>
                        <br/>
                        <p:inputTextarea   value="#{novedadPersonaMB.observacionesAdicionales}" rows="5" cols="30"    autoResize="false"  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-bottom:5%;margin-left: 3%;"/>
                        <p:commandButton value="Registrar retiro estudiante" update="formSupervisorEntidad" style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;" actionListener="#{novedadPersonaMB.GuardarRetiroPersona(-1,false)}" /> 
                    </p:column>
                </p:panel>  
            </p:dialog>

            <p:dialog widgetVar="ConfirmacionRetiro" width="300"  header="Retirar estudiante #{novedadPersonaMB.detallePracticante.persona.nombres} #{novedadPersonaMB.detallePracticante.persona.apellidos}"  showEffect="clip" hideEffect="clip" responsive="true" modal="true"> 
                <p:commandButton value="Confirmar"  actionListener="#{novedadPersonaMB.GuardarRetiroPersona(null,true)}" update="formSupervisorEntidad" icon="fa fa-check"  style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;" />  
                <p:commandButton value="Cancelar" type="button"  style="height: 100%;text-align: left;font-size: 16px;font-weight: bold;" icon="fa fa-times"/>    
            </p:dialog> 






            <div align="right">
                <h:commandLink id="expExcelDetallePracticante">
                    <p:graphicImage  width="30px" height="25px" value="/resources/images/descarga.png" />
                    <p:dataExporter type="xls" target="dtDetallePracticante" fileName="detallePracticante" />
                </h:commandLink>
                <p:tooltip position="top" style="font-size: 12px" for="expExcelDetallePracticante">Descargar a Excel</p:tooltip>
            </div>
            <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>  
        </p:tab>
    </p:tabView>
</ui:composition>