<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel>
        <p:dataTable id="idDatTipoDocumento" 
                     var="tip" 
                     value="#{tipoDocumentoMB.listTipoDocumento}"                                       
                     reflow="true"  
                     filteredValue="#{tipoDocumentoMB.tipoDocumentoFiltradas}"
                     rows="12"
                     paginatorPosition="bottom"
                     paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     emptyMessage="No se encontró información registrada de TipoDocumento"
                     style="font-size: 11px" 
                     selection="#{tipoDocumentoMB.tipoDocumento}" rowKey="#{tip.seqTpoDocumento}"
                     >

            <p:column selectionMode="single" style="width:20px;text-align:center"/>
            <p:column headerText="#{msg['header.grilla.TipoDocumento.codigo']}" style="text-align:center;font-size: 11px"
                      filterBy="#{tip.codigo}" filterMatchMode="contains"
                      sortBy="#{tip.codigo}"
                      >
                <h:outputText value="#{tip.codigo}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.TipoDocumento.documento']}" style="text-align:center;font-size: 11px"
                      filterBy="#{tip.documento}" filterMatchMode="contains"
                      sortBy="#{tip.documento}"
                      >
                <h:outputText value="#{tip.documento}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.TipoDocumento.descripcion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{tip.descripcion}" filterMatchMode="contains"
                      sortBy="#{tip.descripcion}"
                      >
                <h:outputText value="#{tip.descripcion}" style="font-size: 12px" />
            </p:column>
        </p:dataTable>


        <p:commandButton id="idBtnCrearTipoDocumento" actionListener="#{tipoDocumentoMB.onCrearRegistro}" update="panTipoDocumento" value="Crear" icon="fa fa-plus">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnCrearTipoDocumento" value="Crear Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnActualizarTipoDocumento" actionListener="#{tipoDocumentoMB.onVistaActualizar}" update="panTipoDocumento" value="Actualizar" icon="fa fa-edit">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnActualizarTipoDocumento" value="Actualizar Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnBorrarTipoDocumento" actionListener="#{tipoDocumentoMB.onBorrar}" update="panTipoDocumento" value="Borrar" icon="fa fa-close">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnBorrarTipoDocumento" value="Borrar Registro"></p:tooltip>
            <p:confirm header="Confimación" message="Esta seguro de borrar el registro?" icon="ui-icon-alert"/>
        </p:commandButton>


        <!--<h:commandLink id="expExcelTipoDocumento">
             <p:graphicImage  width="25px" height="25px" value="/resources/images/descarga.png" />
             <p:dataExporter type="xls" target="dtTipoDocumento" fileName="tipoDocumento" />
         </h:commandLink>
         <p:tooltip position="top" style="font-size: 12px" for="expExcelTipoDocumento">Descargar a Excel</p:tooltip>!--> 

        <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </p:panel>
</ui:composition>