<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">


    <p:contentFlow value="#{detalleCoorPracticasMB.opciones}" var="op" style="border: none;height: 40%;">
        <p:graphicImage name="/images/#{op}" styleClass="content"/>
    </p:contentFlow>
    <p:tabView>     
        <p:tab title="Registrar">
            <f:facet name="actions">
                <p:menuButton value="Menú">

                    <p:menuitem value="Supervisor" icon="fa fa-save"/>
                    <p:menuitem value="Entidad" icon="fa fa-refresh"/>
                    <p:menuitem value="Convenios" ajax="false" icon="fa fa-times"/>
                    <p:menuitem value="Competencias" ajax="false" icon="fa fa-times"/>
                    <p:separator style="color: #009393"/>
                    <p:menuitem value="Homepage" url="http://www.primefaces.org" icon="fa fa-home"/>
                </p:menuButton>
            </f:facet>

            <p:dataTable id="dtDetallePracticante" 
                         var="det" 
                         value="#{detallePracticanteMB.listDetallePracticante}"                                       
                         reflow="true"  
                         filteredValue="#{detallePracticanteMB.detallePracticanteFiltradas}"
                         rows="12"
                         paginatorPosition="bottom"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         emptyMessage="No se encontró información registrada de DetallePracticante"
                         style="font-size: 11px;margin: 2%;"
                         selectionMode="single" 
                         selection="#{detallePracticanteMB.detallePracticante}" rowKey="#{det.seqDetallePracticante}">

                <p:column headerText="Código" style="text-align:center;font-size: 13px"
                          filterBy="#{det.persona.codigo}" filterMatchMode="contains"
                          sortBy="#{det.persona.codigo}"
                          >
                    <h:outputText value="#{det.persona.codigo}" style="font-size: 12px" />
                </p:column>
                <p:column headerText="Nombre" style="text-align:center;font-size: 13px"
                          filterBy="#{det.persona.nombres} #{det.persona.apellidos}" filterMatchMode="contains"
                          sortBy="#{det.persona.nombres} #{det.persona.apellidos}"
                          >
                    <h:outputText value="#{det.persona.nombres} #{det.persona.apellidos}" style="font-size: 12px" />
                </p:column>
                <p:column headerText="Cédula" style="text-align:center;font-size: 13px"
                          filterBy="#{det.persona.cedula}" filterMatchMode="contains"
                          sortBy="#{det.persona.cedula}"
                          >
                    <h:outputText value="#{det.persona.cedula}" style="font-size: 12px" />
                </p:column>
                <p:column headerText="Facultad" style="text-align:center;font-size: 13px"
                          filterBy="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}" filterMatchMode="contains"
                          sortBy="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}"
                          >
                    <h:outputText value="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}" style="font-size: 12px" />
                </p:column>
                <p:column headerText="Estado práctica" style="text-align:center;font-size: 13px"
                          filterBy="#{det.estadoPractica}" filterMatchMode="contains"
                          sortBy="#{det.estadoPractica}"
                          >
                    <h:outputText value="#{det.estadoPractica}" style="font-size: 12px" />
                </p:column>  
                <p:column style="width:32px;text-align: center;font-size: 13px" headerText="Detalle" >
                    <p:commandButton icon="fa fa-plus-square" title="Ver" style="background: lightslategray" action="#{detalleCoorPracticasMB.procesoPracticante}" update="formCoordinadorPrac">
                        <f:setPropertyActionListener value="#{prac}" target="#{detallePracticanteMB.detallePracticante}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <div align="right">
                <h:commandLink id="expExcelDetallePracticante">
                    <p:graphicImage  width="30px" height="25px" value="/resources/images/descarga.png" />
                    <p:dataExporter type="xls" target="dtDetallePracticante" fileName="detallePracticante" />
                </h:commandLink>
                <p:tooltip position="top" style="font-size: 12px" for="expExcelDetallePracticante">Descargar a Excel</p:tooltip>
            </div>
            <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </p:tab>

        <p:tab title="Consultar">           
            <p:repeat  value="#{detallePracticanteMB.listDetallePracticante}" var="prac">
                <h:panelGrid columns="2" cellpadding="5" >                   
                    <p:commandLink >
                        <f:setPropertyActionListener value="#{prac}" target="#{dataListView.selectedCar}" />
                        <!--    <p:graphicImage name="demo/images/car/{prac.}-big.gif" /> -->
                        <p:graphicImage name="images/perfil_blanco.jpg" height="100px;" width="100px;"/> 
                    </p:commandLink>
                    <p:outputPanel>
                        <h:panelGrid columns="2" cellpadding="5">
                            <h:outputText value="Nombres: " />
                            <h:outputText value="#{prac.persona.nombres}" style="font-weight: bold"/>
                            <h:outputText value="Apellido: " />
                            <h:outputText value="#{prac.persona.apellidos}" style="font-weight: bold"/>
                            <h:outputText value="Programa" />
                            <h:outputText value="#{prac.areaEscolaris.programaEscolaris.programa}" style="font-weight: bold"/>
                        </h:panelGrid>
                    </p:outputPanel>
                </h:panelGrid>
            </p:repeat>
            <br/>
            <br/>
        </p:tab>        
    </p:tabView>

<<<<<<< HEAD
    <br/><br/>


    <p:column headerText="Código" style="text-align:center;font-size: 13px"
              filterBy="#{det.persona.codigo}" filterMatchMode="contains"
              sortBy="#{det.persona.codigo}"
              >
        <h:outputText value="#{det.persona.codigo}" style="font-size: 12px" />
    </p:column>

    <p:column headerText="Nombre" style="text-align:center;font-size: 13px"
              filterBy="#{det.persona.nombres} #{det.persona.apellidos}" filterMatchMode="contains"
              sortBy="#{det.persona.nombres} #{det.persona.apellidos}"
              >
        <h:outputText value="#{det.persona.nombres} #{det.persona.apellidos}" style="font-size: 12px" />
    </p:column>

    <p:column headerText="Cédula" style="text-align:center;font-size: 13px"
              filterBy="#{det.persona.cedula}" filterMatchMode="contains"
              sortBy="#{det.persona.cedula}"
              >
        <h:outputText value="#{det.persona.cedula}" style="font-size: 12px" />
    </p:column>

    <p:column headerText="Facultad" style="text-align:center;font-size: 13px"
              filterBy="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}" filterMatchMode="contains"
              sortBy="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}"
              >
        <h:outputText value="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}" style="font-size: 12px" />
    </p:column>

    <p:column headerText="Estado práctica" style="text-align:center;font-size: 13px"
              filterBy="#{det.estadoPractica}" filterMatchMode="contains"
              sortBy="#{det.estadoPractica}"
              >
        <h:outputText value="#{det.estadoPractica}" style="font-size: 12px" />
    </p:column>  

    <p:column style="width:32px;text-align: center;font-size: 13px" headerText="Detalle" >
        <p:commandButton icon="fa fa-plus-square" title="Ver" style="background: lightslategray" action="#{detalleCoorPracticasMB.procesoPracticante}" update="formCoordinadorPrac">
            <f:setPropertyActionListener value="#{prac}" target="#{detallePracticanteMB.detallePracticante}"/>
        </p:commandButton>
    </p:column>

<br/><br/>

<div align="right">
    <h:commandLink id="expExcelDetallePracticante">
        <p:graphicImage  width="30px" height="25px" value="/resources/images/descarga.png" />
        <p:dataExporter type="xls" target="dtDetallePracticante" fileName="detallePracticante" />
    </h:commandLink>
    <p:tooltip position="top" style="font-size: 12px" for="expExcelDetallePracticante">Descargar a Excel</p:tooltip>
</div>
<p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
</p:confirmDialog>
=======
    <br/><br/>


        <p:column headerText="Código" style="text-align:center;font-size: 13px"
                  filterBy="#{det.persona.codigo}" filterMatchMode="contains"
                  sortBy="#{det.persona.codigo}"
                  >
            <h:outputText value="#{det.persona.codigo}" style="font-size: 12px" />
        </p:column>

        <p:column headerText="Nombre" style="text-align:center;font-size: 13px"
                  filterBy="#{det.persona.nombres} #{det.persona.apellidos}" filterMatchMode="contains"
                  sortBy="#{det.persona.nombres} #{det.persona.apellidos}"
                  >
            <h:outputText value="#{det.persona.nombres} #{det.persona.apellidos}" style="font-size: 12px" />
        </p:column>

        <p:column headerText="Cédula" style="text-align:center;font-size: 13px"
                  filterBy="#{det.persona.cedula}" filterMatchMode="contains"
                  sortBy="#{det.persona.cedula}"
                  >
            <h:outputText value="#{det.persona.cedula}" style="font-size: 12px" />
        </p:column>

        <p:column headerText="Facultad" style="text-align:center;font-size: 13px"
                  filterBy="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}" filterMatchMode="contains"
                  sortBy="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}"
                  >
            <h:outputText value="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}" style="font-size: 12px" />
        </p:column>

        <p:column headerText="Estado práctica" style="text-align:center;font-size: 13px"
                  filterBy="#{det.estadoPractica}" filterMatchMode="contains"
                  sortBy="#{det.estadoPractica}"
                  >
            <h:outputText value="#{det.estadoPractica}" style="font-size: 12px" />
        </p:column>  

        <p:column style="width:32px;text-align: center;font-size: 13px" headerText="Detalle" >
            <p:commandButton icon="fa fa-plus-square" title="Ver" style="background: lightslategray" action="#{detalleCoorPracticasMB.procesoPracticante}" update="formCoordinadorPrac">
                <f:setPropertyActionListener value="#{prac}" target="#{detallePracticanteMB.detallePracticante}"/>
            </p:commandButton>
        </p:column>
        
    </p:dataTable>
    <br/><br/>

    <div align="right">
        <h:commandLink id="expExcelDetallePracticante">
            <p:graphicImage  width="30px" height="25px" value="/resources/images/descarga.png" />
            <p:dataExporter type="xls" target="dtDetallePracticante" fileName="detallePracticante" />
        </h:commandLink>
        <p:tooltip position="top" style="font-size: 12px" for="expExcelDetallePracticante">Descargar a Excel</p:tooltip>
    </div>
    <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>
>>>>>>> e5c3a34113663b06b892f9be3fc9b98570290102

</ui:composition>