<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel>
        <p:dataTable id="idDatRol" 
                     var="rol" 
                     value="#{rolMB.listRol}"                                       
                     reflow="true"  
                     filteredValue="#{rolMB.rolFiltradas}"
                     rows="12"
                     paginatorPosition="bottom"
                     paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     emptyMessage="No se encontró información registrada de Rol"
                     style="font-size: 11px"
                     selection="#{rolMB.rol}" rowKey="#{rol.seqRolPersona}"
                     >

            <p:column selectionMode="single" style="width:20px;text-align:center"/>
            <p:column headerText="#{msg['header.grilla.Rol.codigo']}" style="text-align:center;font-size: 11px"
                      filterBy="#{rol.codigo}" filterMatchMode="contains"
                      sortBy="#{rol.codigo}"
                      >
                <h:outputText value="#{rol.codigo}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Rol.rol']}" style="text-align:center;font-size: 11px"
                      filterBy="#{rol.rol}" filterMatchMode="contains"
                      sortBy="#{rol.rol}"
                      >
                <h:outputText value="#{rol.rol}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Rol.descripcion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{rol.descripcion}" filterMatchMode="contains"
                      sortBy="#{rol.descripcion}"
                      >
                <h:outputText value="#{rol.descripcion}" style="font-size: 12px" />
            </p:column>
        </p:dataTable>

        <p:commandButton id="idBtnCrearRol" actionListener="#{rolMB.onCrearRegistro}" update="panRol" value="Crear" icon="fa fa-plus">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnCrearRol" value="Crear Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnActualizarRol" actionListener="#{rolMB.onVistaActualizar}" update="panRol" value="Actualizar" icon="fa fa-edit">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnActualizarRol" value="Actualizar Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnBorrarRol" actionListener="#{rolMB.onBorrar}" update="panRol" value="Borrar" icon="fa fa-close">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnBorrarRol" value="Borrar Registro"></p:tooltip>
            <p:confirm header="Confimación" message="Esta seguro de borrar el registro?" icon="ui-icon-alert"/>
        </p:commandButton>


        <!--<h:commandLink id="expExcelRol">
            <p:graphicImage  width="25px" height="25px" value="/resources/images/descarga.png" />
            <p:dataExporter type="xls" target="dtRol" fileName="rol" />
        </h:commandLink>
        <p:tooltip position="top" style="font-size: 12px" for="expExcelRol">Descargar a Excel</p:tooltip>!-->


        <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </p:panel>
</ui:composition>