<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <p:tabView >
        <p:tab  title="#{detalleSupEntidadMB.nombreGrilla}">
            <ui:include src="MenuDetalleSupEntidad.xhtml"  /> 
            <p:dataTable id="dtDetallePracticante" 
                         var="det" 
                         value="#{detalleSupEntidadMB.listdetallePracticante}"                                       
                         reflow="true"  
                         filteredValue="#{detallePracticanteMB.detallePracticanteFiltradas}"
                         rows="5"
                         paginatorPosition="bottom"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         emptyMessage="No se encontró información registrada de DetallePracticante"
                         style="font-size: 11px;"
                         selection="#{detallePracticanteMB.detallePracticante}" rowKey="#{det.seqDetallePracticante}">



                <p:column headerText="Código" style="text-align:center;font-size: 13px"
                          filterBy="#{det.persona.codigo}" filterMatchMode="contains"
                          sortBy="#{det.persona.codigo}"
                          >
                    <h:outputText value="#{det.persona.codigo}" style="font-size: 12px" />
                </p:column>

                <p:column headerText="Nombre" style="text-align:center;font-size: 13px"
                          filterBy="#{det.persona.nombres} #{det.persona.apellidos}" filterMatchMode="contains"
                          sortBy="#{det.persona.nombres} #{det.persona.apellidos}"
                          >
                    <h:outputText value="#{det.persona.nombres} #{det.persona.apellidos}" style="font-size: 12px" />
                </p:column>

                <p:column headerText="Cédula" style="text-align:center;font-size: 13px"
                          filterBy="#{det.persona.cedula}" filterMatchMode="contains"
                          sortBy="#{det.persona.cedula}"
                          >
                    <h:outputText value="#{det.persona.cedula}" style="font-size: 12px" />
                </p:column>

                <p:column headerText="Facultad" style="text-align:center;font-size: 13px"
                          filterBy="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}" filterMatchMode="contains"
                          sortBy="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}"
                          >
                    <h:outputText value="#{det.areaEscolaris.programaEscolaris.facultadEscolaris.seqFacultad}" style="font-size: 12px" />
                </p:column>

                <p:column headerText="Estado práctica" style="text-align:center;font-size: 13px"
                          filterBy="#{det.estadoPractica}" filterMatchMode="contains"
                          sortBy="#{det.estadoPractica}"
                          >
                    <h:outputText value="#{det.estadoPractica}" style="font-size: 12px" />
                </p:column>  

                <column>
                    <c:choose>
                        <c:when test="#{detalleSupEntidadMB.menuPostualdos}">
                            <p:column style="width:auto;text-align: center" headerText="Detalle">
                                <p:commandButton  icon="fa fa-plus-square" title="View" style="background: lightslategray" update="formSupervisorEntidad" actionListener="#{detalleSupEntidadMB.DetallePostulados(det.seqDetallePracticante, det.persona.seqPersona)}"/>
                            </p:column>
                        </c:when> <!-- if condition -->
                        <c:when test="#{detalleSupEntidadMB.menuAsiganados}">
                            <p:column style="width:auto;text-align: center" headerText="Detalle">
                                <p:commandButton  icon="fa fa-plus-square" title="View" style="background: lightslategray" update="formSupervisorEntidad" actionListener="#{detalleSupEntidadMB.DetallePostulados(det.seqDetallePracticante, det.persona.seqPersona)}"/>
                            </p:column>
                        </c:when> <!-- else if condition -->
                    </c:choose> 
                </column>

            </p:dataTable>

            <div align="right">
                <h:commandLink id="expExcelDetallePracticante">
                    <p:graphicImage  width="30px" height="25px" value="/resources/images/descarga.png" />
                    <p:dataExporter type="xls" target="dtDetallePracticante" fileName="detallePracticante" />
                </h:commandLink>
                <p:tooltip position="top" style="font-size: 12px" for="expExcelDetallePracticante">Descargar a Excel</p:tooltip>
            </div>
            <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>  
        </p:tab>
    </p:tabView>

</ui:composition>