<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:dataTable id="dtNovedadRetroalimentacion" 
                 var="nov" 
                 value="#{novedadPersonaMB.listNovedad}"                                       
                 reflow="true"  
                 filteredValue="#{novedadMB.novedadFiltradas}"
                 rows="12"
                 paginatorPosition="bottom"
                 paginator="true"
                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                 emptyMessage="No se encontró información registrada de Novedad"
                 style="font-size: 11px"
                 selectionMode="single" 
                 selection="#{novedadMB.novedad}" rowKey="#{nov.seqNovedad}"
                 >


        <p:column headerText="#{msg['header.grilla.Novedad.novedadPersona.novedad']}" style="text-align:center;font-size: 11px; width: 100%; height: auto;"
                  filterBy="#{nov.novedadPersona.novedad}" filterMatchMode="contains"
                  sortBy="#{nov.novedadPersona.novedad}"
                  >
            <h:outputText value="#{nov.novedadPersona.novedad}" style="font-size: 12px" />
        </p:column>
        <p:column headerText="#{msg['header.grilla.Novedad.novedadPersona.descripcion']}" style="text-align:center;font-size: 11px; width: 100%; height: auto;"
                  filterBy="#{nov.novedadPersona.descripcion}" filterMatchMode="contains"
                  sortBy="#{nov.novedadPersona.descripcion}"
                  >
            <h:outputText value="#{nov.novedadPersona.descripcion}" style="font-size: 12px" />
        </p:column>
        <p:column headerText="#{msg['header.grilla.Novedad.observacion']}" style="text-align:center;font-size: 11px; width: 100%; height: auto;"
                  filterBy="#{nov.observacion}" filterMatchMode="contains"
                  sortBy="#{nov.observacion}"
                  >
            <h:outputText value="#{nov.observacion}" style="font-size: 12px" />
        </p:column>
    </p:dataTable>
</ui:composition>