<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel>
        <p:dataTable id="idDatTipoIdentificacion" 
                     var="tip" 
                     value="#{tipoIdentificacionMB.listTipoIdentificacion}"                                       
                     reflow="true"  
                     filteredValue="#{tipoIdentificacionMB.tipoIdentificacionFiltradas}"
                     rows="12"
                     paginatorPosition="bottom"
                     paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     emptyMessage="No se encontró información registrada de TipoIdentificacion"
                     style="font-size: 11px"
                     selection="#{tipoIdentificacionMB.tipoIdentificacion}" rowKey="#{tip.seqTipoIdentificacion}"
                     >

            <p:column selectionMode="single" style="width:20px;text-align:center"/>
            <p:column headerText="#{msg['header.grilla.TipoIdentificacion.codigo']}" style="text-align:center;font-size: 11px"
                      filterBy="#{tip.codigo}" filterMatchMode="contains"
                      sortBy="#{tip.codigo}"
                      >
                <h:outputText value="#{tip.codigo}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.TipoIdentificacion.identificacion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{tip.identificacion}" filterMatchMode="contains"
                      sortBy="#{tip.identificacion}"
                      >
                <h:outputText value="#{tip.identificacion}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.TipoIdentificacion.descripcion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{tip.descripcion}" filterMatchMode="contains"
                      sortBy="#{tip.descripcion}"
                      >
                <h:outputText value="#{tip.descripcion}" style="font-size: 12px" />
            </p:column>
        </p:dataTable>

        <p:commandButton id="idBtnCrearTipoIdentificacion" actionListener="#{tipoIdentificacionMB.onCrearRegistro}" update="panTipoIdentificacion" value="Crear" icon="fa fa-plus">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnCrearTipoIdentificacion" value="Crear Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnActualizarTipoIdentificacion" actionListener="#{tipoIdentificacionMB.onVistaActualizar}" update="panTipoIdentificacion" value="Actualizar" icon="fa fa-edit">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnActualizarTipoIdentificacion" value="Actualizar Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnBorrarTipoIdentificacion" actionListener="#{tipoIdentificacionMB.onBorrar}" update="panTipoIdentificacion" value="Borrar" icon="fa fa-close">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnBorrarTipoIdentificacion" value="Borrar Registro"></p:tooltip>
            <p:confirm header="Confimación" message="Esta seguro de borrar el registro?" icon="ui-icon-alert"/>
        </p:commandButton>


        <!--<h:commandLink id="expExcelTipoIdentificacion">
            <p:graphicImage  width="25px" height="25px" value="/resources/images/descarga.png" />
            <p:dataExporter type="xls" target="dtTipoIdentificacion" fileName="tipoIdentificacion" />
        </h:commandLink>
        <p:tooltip position="top" style="font-size: 12px" for="expExcelTipoIdentificacion">Descargar a Excel</p:tooltip>!-->




        <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </p:panel>
</ui:composition>