<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel>
        <p:dataTable id="idDatEstadoPersona" 
                     var="est" 
                     value="#{estadoPersonaMB.listEstadoPersona}"                                       
                     reflow="true"  
                     filteredValue="#{estadoPersonaMB.estadoPersonaFiltradas}"
                     rows="12"
                     paginatorPosition="bottom"
                     paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     emptyMessage="No se encontró información registrada de EstadoPersona"
                     style="font-size: 11px"
                     selection="#{estadoPersonaMB.estadoPersona}" rowKey="#{est.seqEstadoPersona}"
                     >

            <p:column selectionMode="single" style="width:20px;text-align:center"/>
            <p:column headerText="#{msg['header.grilla.EstadoPersona.codigo']}" style="text-align:center;font-size: 11px"
                      filterBy="#{est.codigo}" filterMatchMode="contains"
                      sortBy="#{est.codigo}"
                      >
                <h:outputText value="#{est.codigo}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.EstadoPersona.estado']}" style="text-align:center;font-size: 11px"
                      filterBy="#{est.estado}" filterMatchMode="contains"
                      sortBy="#{est.estado}"
                      >
                <h:outputText value="#{est.estado}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.EstadoPersona.descripcion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{est.descripcion}" filterMatchMode="contains"
                      sortBy="#{est.descripcion}"
                      >
                <h:outputText value="#{est.descripcion}" style="font-size: 12px" />
            </p:column>
        </p:dataTable>

        <p:commandButton id="idBtnCrearEstadoPersona" actionListener="#{estadoPersonaMB.onCrearRegistro}" update="panEstadoPersona" value="Crear" icon="fa fa-plus">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnCrearEstadoPersona" value="Crear Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnActualizarEstadoPersona" actionListener="#{estadoPersonaMB.onVistaActualizar}" update="panEstadoPersona" value="Actualizar" icon="fa fa-edit">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnActualizarEstadoPersona" value="Actualizar Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnNorrarEstadoPersona" actionListener="#{estadoPersonaMB.onBorrar}" update="panEstadoPersona" value="Borrar" icon="fa fa-close">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnNorrarEstadoPersona" value="Borrar Registro"></p:tooltip>
            <p:confirm header="Confimación" message="Esta seguro de borrar el registro?" icon="ui-icon-alert"/>
        </p:commandButton>


        <!--<h:commandLink id="expExcelEstadoPersona">
            <p:graphicImage  width="25px" height="25px" value="/resources/images/descarga.png" />
            <p:dataExporter type="xls" target="dtEstadoPersona" fileName="estadoPersona" />
        </h:commandLink>
        <p:tooltip position="top" style="font-size: 12px" for="expExcelEstadoPersona">Descargar a Excel</p:tooltip>!-->

        <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </p:panel>
</ui:composition>