<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel style="border: none;">
        <p:dataTable id="dtRegistroSemanalEntidadHistorial" 
                     var="reg" 
                     value="#{detalleSupEntidadMB.registroSemanalEntidadListHistorial}"                                       
                     reflow="true"  
                     filteredValue="#{registroSemanalEntidadMB.registroSemanalEntidadFiltradas}"
                     rows="12"
                     paginatorPosition="bottom"
                     paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     emptyMessage="No se encontró información registrada de RegistroSemanalEntidad"
                     style="font-size: 11px"
                     rowKey="#{reg.seqRegistroSemanal}"
                     >


            <p:column headerText="#{msg['header.grilla.RegistroSemanalEntidad.descripcion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{reg.descripcion}" filterMatchMode="contains"
                      sortBy="#{reg.descripcion}"
                      >
                <h:outputText value="#{reg.descripcion}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.RegistroSemanalEntidad.estadoValido']}" style="text-align:center;font-size: 11px"
                      filterBy="#{reg.estadoValido}" filterMatchMode="contains"
                      sortBy="#{reg.estadoValido}"
                      >
                <h:outputText value="#{reg.estadoValido}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.RegistroSemanalEntidad.datRegistro']}" style="text-align:center;font-size: 11px"
                      filterBy="#{reg.datRegistro}" filterMatchMode="contains"
                      sortBy="#{reg.datRegistro}"
                      >
                <h:outputText value="#{reg.datRegistro}" style="font-size: 12px" />
            </p:column>
        </p:dataTable>
        <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </p:panel>
</ui:composition>