<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel>
        <p:dataTable id="idDatTipoEvento" 
                     var="tip" 
                     value="#{tipoEventoMB.listTipoEvento}"                                       
                     reflow="true"  
                     filteredValue="#{tipoEventoMB.tipoEventoFiltradas}"
                     rows="12"
                     paginatorPosition="bottom"
                     paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     emptyMessage="No se encontro informacion registrada de TipoEvento"
                     style="font-size: 11px"
                     selection="#{tipoEventoMB.tipoEvento}" rowKey="#{tip.seqTipoEvento}"
                     >

            <p:column selectionMode="single" style="width:20px;text-align:center"/>
            <p:column headerText="#{msg['header.grilla.TipoEvento.codigo']}" style="text-align:center;font-size: 11px"
                      filterBy="#{tip.codigo}" filterMatchMode="contains"
                      sortBy="#{tip.codigo}"
                      >
                <h:outputText value="#{tip.codigo}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.TipoEvento.nombre']}" style="text-align:center;font-size: 11px"
                      filterBy="#{tip.nombre}" filterMatchMode="contains"
                      sortBy="#{tip.nombre}"
                      >
                <h:outputText value="#{tip.nombre}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.TipoEvento.desTipoEvento']}" style="text-align:center;font-size: 11px"
                      filterBy="#{tip.desTipoEvento}" filterMatchMode="contains"
                      sortBy="#{tip.desTipoEvento}"
                      >
                <h:outputText value="#{tip.desTipoEvento}" style="font-size: 12px" />
            </p:column>
        </p:dataTable>

        <p:commandButton id="idBtnCrearTipoEvento" actionListener="#{tipoEventoMB.onCrearRegistro}" update="panTipoEvento" value="Crear" icon="fa fa-plus">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnCrearTipoEvento" value="Crear Registro"></p:tooltip>   
        </p:commandButton>

        <p:commandButton id="idBtnActualizarTipoEvento" actionListener="#{tipoEventoMB.onVistaActualizar}" update="panTipoEvento" value="Actualizar" icon="fa fa-edit">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnActualizarTipoEvento" value="Actualizar Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnBorrarTipoEvento" actionListener="#{tipoEventoMB.onBorrar}" update="panTipoEvento" value="Borrar" icon="fa fa-close">
            <p:confirm header="Confimación" message="Esta seguro de borrar el registro?" icon="ui-icon-alert"/>
            <p:tooltip position="top" style="font-size: 12px" for="idBtnBorrarTipoEvento" value="Borrar Registro"></p:tooltip>
        </p:commandButton>
        <!--<p:graphicImage  width="25px" height="25px" value="/resources/images/delete.jpg" />-->  


        <!-- <h:commandLink id="expExcelTipoEvento">
             <p:graphicImage  width="25px" height="25px" value="/resources/images/descarga.png" />
             <p:dataExporter type="xls" target="dtTipoEvento" fileName="tipoEvento" />
         </h:commandLink>
         <p:tooltip position="top" style="font-size: 12px" for="expExcelTipoEvento">Descargar a Excel</p:tooltip>-->  


        <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </p:panel>
</ui:composition>