<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel>
        <p:dataTable id="idDatEps" 
                     var="eps" 
                     value="#{epsMB.listEps}"                                       
                     reflow="true"  
                     filteredValue="#{epsMB.epsFiltradas}"
                     rows="12"
                     paginatorPosition="bottom"
                     paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     emptyMessage="No se encontró información registrada de Eps"
                     style="font-size: 11px"
                     selection="#{epsMB.eps}" rowKey="#{eps.seqEps}"
                     >

            <p:column selectionMode="single" style="width:20px;text-align:center"/>
            <p:column headerText="#{msg['header.grilla.Eps.codigo']}" style="text-align:center;font-size: 11px"
                      filterBy="#{eps.codigo}" filterMatchMode="contains"
                      sortBy="#{eps.codigo}"
                      >
                <h:outputText value="#{eps.codigo}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Eps.eps']}" style="text-align:center;font-size: 11px"
                      filterBy="#{eps.eps}" filterMatchMode="contains"
                      sortBy="#{eps.eps}"
                      >
                <h:outputText value="#{eps.eps}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.Eps.descripcion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{eps.descripcion}" filterMatchMode="contains"
                      sortBy="#{eps.descripcion}"
                      >
                <h:outputText value="#{eps.descripcion}" style="font-size: 12px" />
            </p:column>
        </p:dataTable>

        <p:commandButton id="idBtnCrearEps" actionListener="#{epsMB.onCrearRegistro}" update="panEps" value="Crear" icon="fa fa-plus">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnCrearEps" value="Crear Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnAztualizarEps" actionListener="#{epsMB.onVistaActualizar}" update="panEps" value="Actualizar" icon="fa fa-edit" >
            <p:tooltip position="top" style="font-size: 12px" for="idBtnAztualizarEps" value="Actualizar Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnBorrarEps" actionListener="#{epsMB.onBorrar}" update="panEps" value="Borrar" icon="fa fa-close">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnBorrarEps" value="Borrar Registro"></p:tooltip>
            <p:confirm header="Confimación" message="Esta seguro de borrar el registro?" icon="ui-icon-alert"/>
        </p:commandButton>


        <!--<h:commandLink id="expExcelEps">
               <p:graphicImage  width="25px" height="25px" value="/resources/images/descarga.png" />
               <p:dataExporter type="xls" target="dtEps" fileName="eps" />
           </h:commandLink>
           <p:tooltip position="top" style="font-size: 12px" for="expExcelEps">Descargar a Excel</p:tooltip>!-->   


        <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </p:panel>
</ui:composition>