<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel>
        <p:dataTable id="idDatIndicadorGestion" 
                     var="ind" 
                     value="#{indicadorGestionMB.listIndicadorGestion}"                                       
                     reflow="true"  
                     filteredValue="#{indicadorGestionMB.indicadorGestionFiltradas}"
                     rows="12"
                     paginatorPosition="bottom"
                     paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     emptyMessage="No se encontró información registrada de IndicadorGestion"
                     style="font-size: 11px"
                     selection="#{indicadorGestionMB.indicadorGestion}" rowKey="#{ind.seqIndicadorEstion}"
                     >

            <p:column selectionMode="single" style="width:20px;text-align:center"/>
            <p:column headerText="#{msg['header.grilla.IndicadorGestion.codigo']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ind.codigo}" filterMatchMode="contains"
                      sortBy="#{ind.codigo}"
                      >
                <h:outputText value="#{ind.codigo}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.IndicadorGestion.indicador']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ind.indicador}" filterMatchMode="contains"
                      sortBy="#{ind.indicador}"
                      >
                <h:outputText value="#{ind.indicador}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.IndicadorGestion.descripcion']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ind.descripcion}" filterMatchMode="contains"
                      sortBy="#{ind.descripcion}"
                      >
                <h:outputText value="#{ind.descripcion}" style="font-size: 12px" />
            </p:column>
            <p:column headerText="#{msg['header.grilla.IndicadorGestion.estadoVisible']}" style="text-align:center;font-size: 11px"
                      filterBy="#{ind.estadoVisible}" filterMatchMode="contains"
                      sortBy="#{ind.estadoVisible}"
                      >
                <h:outputText value="#{ind.estadoVisible}" style="font-size: 12px" />
            </p:column>
        </p:dataTable>

        <p:commandButton id="idBtnCargarIndicadoresGestion" actionListener="#{indicadorGestionMB.onCrearRegistro}" update="panIndicadorGestion" value="Crear" icon="fa fa-plus">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnCargarIndicadoresGestion" value="Crear Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnActualizaridIndicadoresGestion" actionListener="#{indicadorGestionMB.onVistaActualizar}" update="panIndicadorGestion" value="Actualizar" icon="fa fa-edit">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnActualizaridIndicadoresGestion" value="Actualizar Registro"></p:tooltip>
        </p:commandButton>

        <p:commandButton id="idBtnBorrarIndicadoresGestion" actionListener="#{indicadorGestionMB.onBorrar}" update="panIndicadorGestion" value="Borrar" icon="fa fa-close">
            <p:tooltip position="top" style="font-size: 12px" for="idBtnBorrarIndicadoresGestion" value="Borrar Registro"></p:tooltip>
            <p:confirm header="Confimación" message="Esta seguro de borrar el registro?" icon="ui-icon-alert"/>
        </p:commandButton>


        <!--<h:commandLink id="expExcelIndicadorGestion">
            <p:graphicImage  width="25px" height="25px" value="/resources/images/descarga.png" />
            <p:dataExporter type="xls" target="dtIndicadorGestion" fileName="indicadorGestion" />
        </h:commandLink>
        <p:tooltip position="top" style="font-size: 12px" for="expExcelIndicadorGestion">Descargar a Excel</p:tooltip>!-->


        <p:confirmDialog style="font-size: 13px" global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </p:panel>
</ui:composition>