<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <body>
        <script type="text/javascript" src="./js/bluebird.min.js"></script>
        <script type="text/javascript" src="./js/msal.js"></script>
        <script type="text/javascript" src="./js/conection.js"></script>
    </body> 


    <div class="encabezado">
        <div>
            <h:graphicImage style="padding:20px 20px 20px 20px;" id="logo1" library="images" name="logo.png" /> 
            <h1>#{msg['label.titulo']}</h1>
            <h:form id="frmBtnSalir1"  style="padding:20px 20px 20px 20px;" rendered="#{inicioMB.mostrarSalir}" >
                <p:commandButton value="#{msg['label.Salir']}" action="#{inicioMB.logout()}"   icon="fa fa-sign-out"  />
            </h:form> 

        </div>

    </div>
</ui:composition>