<ui:composition     
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:my="http://example.com/jsf">

    <div class="ui-g">
        <div class="ui-g-3">
            <p:panel style="width: 100%;background: whitesmoke" rendered="#{eventoMB.varPanelOpcionesMenu}">

                <!--MENU ESTUDIANTE-->
                <div class="ui-g">
                    <div class="ui-g-1" > 
                        <p:graphicImage name="images/imgEstudiante.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Estudiantes" action="#{eventoMB.Menu(3)}" update=":frmFormularioConsejeriaAcademica" 
                                         style="font-size: 16px;font-weight: bold;width: 100%; height: 100%; text-align: left;margin-left: 20px;"/>
                    </div>
                </div>

                <!--MENU SESION CONSEJERIA-->
                <div class="ui-g">
                    <div class="ui-g-1"> 
                        <p:graphicImage name="images/imgSupervisor.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Registrar Cita" action="#{eventoMB.Menu(4)}" update=":frmFormularioConsejeriaAcademica" 
                                         style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                    </div>
                </div>

                <!--MENU NOTIFICACIONES-->
                <div class="ui-g">
                    <div class="ui-g-1" > 
                        <p:graphicImage name="images/imgConvenio.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Notificaciones" action="#{eventoMB.Menu(5)}" update=":frmFormularioConsejeriaAcademica" 
                                         style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                    </div>
                </div>

            </p:panel>
        </div>

        <div class="ui-g-12"  style="padding: 0px;">
            <p:panel  style="width: 100%; border: 0px;">                   
                <ui:include src="./../secciones/FormularioDetalleConsAcademicaMenus.xhtml"  />                       
            </p:panel>
        </div>
    </div>



</ui:composition>