<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <f:facet name="actions">
        <p:menuButton value="Menú" style="text-align: left;">
            <p:menuitem icon="fa fa-home" value="Inicio" action="#{detalleSupEntidadMB.MenuInterno(0)}"  update="formSupervisorEntidad"/>
            <p:menuitem icon="fa fa-user-plus" value="Postulados" action="#{detalleSupEntidadMB.MenuInterno(1)}"  update="formSupervisorEntidad"/>
            <p:menuitem icon="fa fa-users" value="Asignados" action="#{detalleSupEntidadMB.MenuInterno(2)}"  update="formSupervisorEntidad"/>
            <p:menuitem icon="fa fa-times" value="Retirar" action="#{detalleSupEntidadMB.MenuInterno(3)}"  update="formSupervisorEntidad"/>
            <p:menuitem icon="fa fa-comment" value="Notificaciones" action="#{detalleSupEntidadMB.MenuInterno(4)}"  update="formSupervisorEntidad"/>
        </p:menuButton>
    </f:facet>
</ui:composition>