<ui:composition     
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:my="http://example.com/jsf">

    <div class="ui-g">
        <div class="ui-g-3">
            <p:panel style="width: 100%;background: whitesmoke" rendered="#{detalleSupEntidadMB.menuPrincipalDetalleSupEntidad}">

                <!--MENU POSTULADOS-->
                <div class="ui-g">
                    <div class="ui-g-1" > 
                        <p:graphicImage name="images/imgEstudiante.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Postulados" action="#{detalleSupEntidadMB.Menu(1)}" update="formSupervisorEntidad" 
                                         style="font-size: 16px;font-weight: bold;width: 100%; height: 100%; text-align: left;margin-left: 20px;"/>
                    </div>
                </div>

                <!--MENU ASIGNADOS-->
                <div class="ui-g">
                    <div class="ui-g-1"> 
                        <p:graphicImage name="images/imgUsers.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Asignados" action="#{detalleSupEntidadMB.Menu(2)}" update="formSupervisorEntidad" 
                                         style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                    </div>
                </div>

                <!--MENU RETIRO ESTUDIANTE-->
                <div class="ui-g">
                    <div class="ui-g-1" > 
                        <p:graphicImage name="images/imgUsersX.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Retiro Estudiante" action="#{detalleSupEntidadMB.Menu(3)}" update="formSupervisorEntidad" 
                                         style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                    </div>
                </div>

                <!--MENU NOTIFICACIONES-->
                <div class="ui-g">
                    <div class="ui-g-1" > 
                        <p:graphicImage name="images/imgConvenio.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Notificaciones" action="#{detalleSupEntidadMB.Menu(4)}" update="formSupervisorEntidad" 
                                         style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                    </div>
                </div>
            </p:panel>
        </div>
        <div class="ui-g-12"  style="padding: 0px;">
            <p:panel  style="border: 0px;" rendered="#{detalleSupEntidadMB.submenuPrincipalDetalleSupEntidad}">
                <p:panel id="pnGrillaPostulados" style="width: 100%;" rendered="#{detalleSupEntidadMB.subMenuGrillaPostulados}">
                    <div>
                        <ui:include src="./../secciones/GrillaDetallePracticanteSubEntidad.xhtml" />
                    </div>
                </p:panel>
                <p:panel id="pnGrillaRetiro" style="width: 100%;" rendered="#{detalleSupEntidadMB.subMenuGrillaRetirados}">
                    <div>
                        <ui:include src="./../secciones/GrillaDetallePracticanteSubEntidadRetiro.xhtml" />
                    </div>
                </p:panel>
                <p:panel id="pnVistaPostulados" style="width: 100%;" rendered="#{detalleSupEntidadMB.panDetalleSupEntidad}">
                    <div>
                        <ui:include src="./../vistas/VistaDetalleSupEntidad.xhtml"  />       
                    </div>
                </p:panel>
                <p:panel id="pnGrillaNovedadEntidad" style="width: 100%; " rendered="#{detalleSupEntidadMB.menuNotificaciones}">
                    <div>
                        <ui:include src="./../secciones/GrillaNovedad.xhtml" />
                    </div>
                </p:panel> 
            </p:panel>
        </div>
    </div>



</ui:composition>