<ui:composition     
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:my="http://example.com/jsf">

    <div class="ui-g">
        <div class="ui-g-3">
            <p:panel id="panInfoDetallePracticante" style="width: 100%;background: whitesmoke" rendered="#{detalleCoorPracticasMB.varPanelInfoPersonal}">

                <!--MENU CARGUE ESTUDIANTES
                <div class="ui-g">
                    <div class="ui-g-1" > 
                        <p:graphicImage name="images/cargue.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Cargues" action="{detalleCoorPracticasMB.opcionMenu(1)}" update="formCoordinadorPrac" 
                                         style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                    </div>
                </div>
                <h:panelGrid id="panMenuCargue" style="width: 100%;margin-bottom: 10%;" rendered="{detalleCoorPracticasMB.menuestudiante}">
                    <p:commandButton value="" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;"
                                     icon="fa fa-edit" action="{detalleCoorPracticasMB.opcionSubMenu(1)}" update="formCoordinadorPrac">
                    </p:commandButton>
                    <p:commandButton value="Consultar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" 
                                     icon="fa fa-search" action="{detalleCoorPracticasMB.opcionSubMenu(2)}" update="formCoordinadorPrac" />
                </h:panelGrid>  -->


                <!--MENU ESTUDIANTE-->
                <div class="ui-g">
                    <div class="ui-g-1" > 
                        <p:graphicImage name="images/imgEstudiante.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Estudiantes" action="#{detalleCoorPracticasMB.opcionMenu(1)}" update=":frmFormularioConsejeriaAcademica" 
                                         style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                    </div>
                </div>
                <h:panelGrid id="panMenuEstudiante" style="width: 100%;margin-bottom: 10%;" rendered="#{detalleCoorPracticasMB.menuestudiante}">
                    <p:commandButton value="Registrar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;"
                                     icon="fa fa-edit" action="#{detalleCoorPracticasMB.opcionSubMenu(1)}" update=":frmFormularioConsejeriaAcademica"/>
                    <p:commandButton value="Consultar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" 
                                     icon="fa fa-search" action="#{detalleCoorPracticasMB.opcionSubMenu(2)}" update=":frmFormularioConsejeriaAcademica, pnConsultarEstudiante" />
                </h:panelGrid>  

                <!--MENU SUPERVISOR-->
                <div class="ui-g">
                    <div class="ui-g-2" style="height: 2%;"> 
                        <p:graphicImage name="images/imgSupervisor.png"  width="35" height="35"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Supervisor" action="#{detalleCoorPracticasMB.opcionMenu(2)}" update=":frmFormularioConsejeriaAcademica" 
                                         style="font-size: 16px;font-weight: bold;width: 100%;text-align: left"/>
                    </div>
                </div>
                <h:panelGrid id="panMenuSupervisor" style="width: 100%;margin-bottom: 10%;" rendered="#{detalleCoorPracticasMB.menuSupervisor}">
                    <p:commandButton value="Registrar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-edit" />
                    <p:commandButton value="Consultar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-search"/>
                    <p:commandButton value="Reasignar Supervisor" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-exchange"/>
                </h:panelGrid>

                <!--MENU ENTIDADES-->
                <div class="ui-g">
                    <div class="ui-g-1" > 
                        <p:graphicImage name="images/imgEntidad.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Entidad" action="#{detalleCoorPracticasMB.opcionMenu(3)}" update=":frmFormularioConsejeriaAcademica" 
                                         style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                    </div>
                </div>
                <h:panelGrid id="panMenuEntidad" style="width: 100%;margin-bottom: 10%;" rendered="#{detalleCoorPracticasMB.menuEntidad}">
                    <p:commandButton value="Registrar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-edit" />
                    <p:commandButton value="Consultar" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-search"/>
                </h:panelGrid> 

                <!--MENU CONVENIOS-->
                <div class="ui-g">
                    <div class="ui-g-1" > 
                        <p:graphicImage name="images/imgConvenio.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Convenios" action="#{detalleCoorPracticasMB.opcionMenu(4)}" update=":frmFormularioConsejeriaAcademica" 
                                         style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                    </div>
                </div>
                <h:panelGrid id="panMenuConvenio" style="width: 100%;margin-bottom: 10%;" rendered="#{detalleCoorPracticasMB.menuConvenio}">
                    <p:commandButton value="Consultar convenios" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" icon="fa fa-search" />
                    <p:commandButton value="Consultar convenios supervisión" style="font-size: 15px;width: 100%;height: 50px;text-align: left;background: gainsboro;color: black;" icon="fa fa-search"/>
                </h:panelGrid> 

                <!--MENU CONVENIOS-->
                <div class="ui-g">
                    <div class="ui-g-1" > 
                        <p:graphicImage name="images/imgCompetencia.png"  width="35" height="35" style="margin-right: 5%;margin-left: 5%;"/>
                    </div>
                    <div class="ui-g-10"> 
                        <p:commandButton value="Competencias" action="#{detalleCoorPracticasMB.opcionMenu(5)}" update=":frmFormularioConsejeriaAcademica" 
                                         style="font-size: 16px;font-weight: bold;width: 100%;text-align: left;margin-left: 20px;"/>
                    </div>
                </div>
                <h:panelGrid id="panMenuCompetencia" style="width: 100%;margin-bottom: 10%;" rendered="#{detalleCoorPracticasMB.menuCompetencias}">
                    <p:commandButton value="Gestionar competencias" style="font-size: 15px;width: 100%;height: 25px;text-align: left;background: gainsboro;color: black;" 
                                     icon="fa fa-edit" />
                </h:panelGrid> 
            </p:panel>
        </div>


        <p:panel id="pnRegistrarEstudiante" style="width: 100%; border: none;" rendered="#{detalleCoorPracticasMB.pnEstudianteRegistro}" >
            <ui:include src="./../secciones/FormularioConsulPracticante.xhtml"/>
        </p:panel>
        <p:panel id="pnConsultarEstudiante" style="width: 100%; border: none;" rendered="#{detalleCoorPracticasMB.pnEstudianteConsultar}">                  
            <ui:include src="./../secciones/ConsultarDetallePracticante_CP.xhtml"/>                  
        </p:panel>
    </div>



</ui:composition>
