
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <div class="encabezado">
        <h:form>  
            <p:growl id="messages"/>
            <p:menubar style="font-size: 12px">
                <p:submenu label="Consultas" icon="ui-icon-document">
                    <p:menuitem value="ActividadCronograma" url="/faces/vistas/VistaActividadCronograma.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="AgendaEvento" url="/faces/vistas/VistaAgendaEvento.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="AreaEscolaris" url="/faces/vistas/VistaAreaEscolaris.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="CalificacionEntidad" url="/faces/vistas/VistaCalificacionEntidad.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Ciudad" url="/faces/vistas/VistaCiudad.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="CompetenciaIndicador" url="/faces/vistas/VistaCompetenciaIndicador.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="ControlDiarioEstudiante" url="/faces/vistas/VistaControlDiarioEstudiante.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Convenio" url="/faces/vistas/VistaConvenio.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="CriteriosEvaluacion" url="/faces/vistas/VistaCriteriosEvaluacion.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Cronograma" url="/faces/vistas/VistaCronograma.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Departamento" url="/faces/vistas/VistaDepartamento.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="DetalleCoorPracticas" url="/faces/vistas/VistaDetalleCoorPracticas.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="DetalleCronograma" url="/faces/vistas/VistaDetalleCronograma.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="DetallePracticante" url="/faces/vistas/VistaDetallePracticante.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="DetalleSupEntidad" url="/faces/vistas/VistaDetalleSupEntidad.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="DetalleSupPractica" url="/faces/vistas/VistaDetalleSupPractica.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="DocumentosAdjuntos" url="/faces/vistas/VistaDocumentosAdjuntos.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Entidad" url="/faces/vistas/VistaEntidad.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Eps" url="/faces/vistas/VistaEps.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="EstadoPersona" url="/faces/vistas/VistaEstadoPersona.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="EvaluarEntidad" url="/faces/vistas/VistaEvaluarEntidad.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Evento" url="/faces/vistas/VistaEvento.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="FacultadEscolaris" url="/faces/vistas/VistaFacultadEscolaris.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="FichaTecnica" url="/faces/vistas/VistaFichaTecnica.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="HorarioPractica" url="/faces/vistas/VistaHorarioPractica.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="IndicadorGestion" url="/faces/vistas/VistaIndicadorGestion.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="IndicadoresEvaluacion" url="/faces/vistas/VistaIndicadoresEvaluacion.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Novedad" url="/faces/vistas/VistaNovedad.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="NovedadConvenio" url="/faces/vistas/VistaNovedadConvenio.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="NovedadPersona" url="/faces/vistas/VistaNovedadPersona.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="NovedadPractConvenio" url="/faces/vistas/VistaNovedadPractConvenio.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="NovedadPractica" url="/faces/vistas/VistaNovedadPractica.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="OfertaLaboral" url="/faces/vistas/VistaOfertaLaboral.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Pais" url="/faces/vistas/VistaPais.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Persona" url="/faces/vistas/VistaPersona.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="PersonaSesion" url="/faces/vistas/VistaPersonaSesion.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Practica" url="/faces/vistas/VistaPractica.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="PracticanteConvenio" url="/faces/vistas/VistaPracticanteConvenio.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="ProgramaEscolaris" url="/faces/vistas/VistaProgramaEscolaris.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="RegistroSemanalEntidad" url="/faces/vistas/VistaRegistroSemanalEntidad.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="Rol" url="/faces/vistas/VistaRol.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="RolPersona" url="/faces/vistas/VistaRolPersona.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="SeguimientoEntidad" url="/faces/vistas/VistaSeguimientoEntidad.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="SeguimientoQincenal" url="/faces/vistas/VistaSeguimientoQincenal.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="SesionConsejeria" url="/faces/vistas/VistaSesionConsejeria.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="SesionSupervsion" url="/faces/vistas/VistaSesionSupervsion.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="TipoDocumento" url="/faces/vistas/VistaTipoDocumento.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="TipoEvento" url="/faces/vistas/VistaTipoEvento.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="TipoIdentificacion" url="/faces/vistas/VistaTipoIdentificacion.xhtml" />
                    <p:separator /> 
                    <p:menuitem value="TipoNovedad" url="/faces/vistas/VistaTipoNovedad.xhtml" />
                    <p:separator /> 
                </p:submenu>                
                <p:menuitem value="Logout" url="logout.xhtml" icon="ui-icon-extlink"/>
            </p:menubar>
        </h:form>
    </div>
</ui:composition>