<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <f:facet name="actions">
        <p:menuButton value="Menú" style="text-align: left;">
            <p:menuitem icon="fa fa-home" value="Inicio" actionListener="#{eventoMB.MenuInterno(0)}"  update="formSesionConsejeria"/>
            <p:menuitem icon="fa fa-user" value="Estudiantes"  actionListener="#{eventoMB.MenuInterno(1)}" rendered="#{!eventoMB.menuestudiante}" update="formSesionConsejeria"/>
            <p:menuitem icon="fa fa-pencil" value="Registrar Cita" actionListener="#{eventoMB.MenuInterno(2)}" rendered="#{!eventoMB.menuSesionConsejeria}" update="formSesionConsejeria"/>
            <p:menuitem icon="fa fa-comment" value="Notificaciones" actionListener="#{eventoMB.MenuInterno(3)}" rendered="#{!eventoMB.menuNotificaciones}" update="formSesionConsejeria"/>
        </p:menuButton>
    </f:facet>
</ui:composition>
