<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"                
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <p:idleMonitor onactive="sessionTimeOutDialog.show();" timeout="1800000" />
    <p:dialog header="Sesión caducada" widgetVar="sessionTimeOutDialog" modal="true"  closable="false" width="400" visible="false">                
        <h:outputText value="La sesión ha caducado, pulse el botón Recargar para volver a acceder a la aplicación" style="text-align: justify" />
        <br></br>
        <br></br>
        <input id="btnRecargarAdmin" type="button" value="Recargar" onclick="window.location = '#{facesContext.externalContext.requestContextPath}';" />
    </p:dialog>
</ui:composition>