body {
    .ui-messages {
        .ui-messages-info {
            background-color: $infoMessageBgColor;
            border-color: $infoMessageBgColor;
            color: $infoMessageTextColor;

            .ui-messages-info-icon {
                @include icon_override("\f05a");
                font-size: 24px;
                margin-top: -2px;
            }
        }

        .ui-messages-warn {
            background-color: $warnMessageBgColor;
            border-color: $warnMessageBgColor;
            color: $warnMessageTextColor;

            .ui-messages-warn-icon {
                @include icon_override("\f071");
                font-size: 24px;
                margin-top: -2px;
            }
        }

        .ui-messages-error {
            background-color: $errorMessageBgColor;
            border-color: $errorMessageBgColor;
            color: $errorMessageTextColor;

            .ui-messages-error-icon {
                @include icon_override("\f06a");
                font-size: 24px;
                margin-top: -2px;
            }
        }

        .ui-messages-fatal {
            background-color: $fatalMessageBgColor;
            border-color: $fatalMessageBgColor;
            color: $fatalMessageTextColor;

            .ui-messages-fatal-icon {
                @include icon_override("\f06a");
                font-size: 24px;
                margin-top: -2px;
            }
        }

        .ui-messages-close {
            font-size: 16px;
            color: #ffffff;
        }
    }

    .ui-message {
        &.ui-message-icon-only {
            min-height: 19px;
        }
        &.ui-message-info {
            background-color: $infoMessageBgColor;
            border-color: $infoMessageBgColor;
            color: $infoMessageTextColor;

            .ui-message-info-icon {
                @include icon_override("\f05a");
                font-size: 16px;
                margin-top: 1px;
            }
        }

        &.ui-message-warn {
            background-color: $warnMessageBgColor;
            border-color: $warnMessageBgColor;
            color: $warnMessageTextColor;

            .ui-message-warn-icon {
                @include icon_override("\f071");
                font-size: 16px;
                margin-top: 1px;
            }
        }

        &.ui-message-error {
            background-color: $errorMessageBgColor;
            border-color: $errorMessageBgColor;
            color: $errorMessageTextColor;

            .ui-message-error-icon {
                @include icon_override("\f06a");
                font-size: 16px;
                margin-top: 1px;
            }
        }

        &.ui-message-fatal {
            background-color: $fatalMessageBgColor;
            border-color: $fatalMessageBgColor;
            color: $fatalMessageTextColor;

            .ui-message-fatal-icon {
                @include icon_override("\f06a");
                font-size: 16px;
                margin-top: 1px;
            }
        }
    }

    .ui-growl {
        top: 85px;

        .ui-growl-item-container {
            @include opacity(.95);
            @include overlay-shadow();

            &.ui-growl-info {
                background-color: $infoMessageBgColor;
                border-color: $infoMessageBgColor;
                color: $infoMessageTextColor;

                .ui-growl-image {
                    @include icon_override("\f06a");
                    font-size: 36px;
                }
            }  

            &.ui-growl-warn {
                background-color: $warnMessageBgColor;
                border-color: $warnMessageBgColor;
                color: $warnMessageTextColor;

                .ui-growl-image {
                    @include icon_override("\f06a");
                    font-size: 36px;
                }
            }

            &.ui-growl-error {
                background-color: $errorMessageBgColor;
                border-color: $errorMessageBgColor;
                color: $errorMessageTextColor;

                .ui-growl-image {
                    @include icon_override("\f06a");
                    font-size: 36px;
                }
            }

            &.ui-growl-fatal {
                background-color: $fatalMessageBgColor;
                border-color: $fatalMessageBgColor;
                color: $fatalMessageTextColor;

                .ui-growl-image {
                    @include icon_override("\f06a");
                    font-size: 36px;
                }
            }  
        }
    }

}