.dashboard {

    .card {
        height: 100%;
    }

    .overview-box {
        padding: 0 !important; 
        text-align: center;
        overflow: hidden;
        margin-bottom: 0px !important;

        i {
            font-size: 48px;
            margin-top: 20px;
            color: #ffffff;
        }

        .overview-box-name {
            font-size: 20px;
            display: inline-block;
            width: 100%;
            margin: 4px 0 10px 0;
            color: #ffffff;
        }

        .overview-box-count {
            color: #ffffff;
            font-size: 36px;
        }

        > div:last-child {
            text-align: left;
        }

        &.overview-box-1 {            
            background-color: $turquoise;
        }

        &.overview-box-2 {            
            background-color: $blue;
        }

        &.overview-box-3 {            
            background-color: $purple;
        }

        &.overview-box-4 {            
            background-color: $orange;
        }
    }

    .task-list {
        overflow: hidden;

        > .ui-panel {
            min-height: 340px;
        }

        .ui-panel-content {
            padding: 10px 0 !important;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                padding: 8px 16px;
                border-bottom: 1px solid $dividerColor;

                &:first-child {
                    margin-top: 10px;
                }
            }

            .ui-chkbox {
                vertical-align: middle;
                margin-right: 5px;
            }

            .task-name {
                vertical-align: middle;
            }

            i {
                color: $textSecondaryColor;
                float: right;
                font-size: 16px;
                margin-top: 5px;
            }
        } 
    }

    .contact-form {
        overflow: hidden;

        .ui-panel {
            min-height: 340px;
        }

        .ui-g-12 {
            padding: 16px 10px;
        }

        .ui-button {
            margin-top: 20px;
        }
    }

    .contacts {
        overflow: hidden;

        > .ui-panel {
            min-height: 340px;
        }

        .ui-panel-content{
            padding: 15px 0 10px 0 !important;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                border-bottom: 1px solid $dividerColor;

                a {
                    padding: 9px;
                    width: 100%;
                    box-sizing: border-box;
                    text-decoration: none;
                    position: relative;
                    display: block;
                    @include border-radius(2px);
                    @include transition(background-color .2s);

                    .name {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        font-size: 18px;
                        color: $textColor;
                    }

                    .email {
                        position: absolute;
                        right: 10px;
                        top: 30px;
                        font-size: 14px;
                        color: $textSecondaryColor;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $listItemHoverBgColor;
                    }
                }

                &:last-child {
                    border: 0;
                }
            }
        }
    }

    .activity-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid $dividerColor;
            padding: 15px 0 9px 9px;

            .count {
                font-size: 24px;
                color: #ffffff;
                background-color: #03A9F4;
                font-weight: bold;
                width: 60px;
                padding: 5px;
                @include border-radius(2px);
            }

            &:first-child {
                border-top: 1px solid $dividerColor;
            }

            &:last-child {
                border: 0;
            }

            .ui-g-6:first-child {
                font-size: 18px;
                padding-left: 0;
            }

            .ui-g-6:last-child {
                text-align: right;
                color: $textSecondaryColor;
            }
        }
    }

    .timeline {
        height: 100%;
        box-sizing: border-box;

        > .ui-g {
            .ui-g-3 {
                font-size: 14px;
                position: relative;
                border-right: 1px solid #bdbdbd;

                i {
                    background-color: #ffffff;
                    font-size: 24px;
                    position: absolute;
                    top: 6px;
                    right: -12px;
                }
            }

            .ui-g-9 {
                padding-left: 1.5em;
                .event-owner {

                }

                .event-text {
                    color: $textSecondaryColor;
                    font-size: 14px;
                    display: block;
                    padding-bottom: 20px;
                }

                .event-content {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }  
}