<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="templates/template.xhtml">
    <ui:define name="title">#{msg['label.titulo']}</ui:define>
    <ui:define name="viewname">#{msg['label.vista.formulario']}</ui:define>

    <ui:define name="content">
        <ui:include src="secciones/FormularioInicio.xhtml" />
        <ui:include src="secciones/FormularioDetalleConsAcademica.xhtml" />
        <!--  <ui:include src="/secciones/CronogramaEvento.xhtml" />-->
    </ui:define>

</ui:composition>
